<div id="aboutWrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center sliderYb slide-bottom" style="font-family: 'Playfair Display SC', serif;font-size:72px;border-top:0;">
      Neolaser América Latina
      </h1>
      <hr style="border-color:#ddd;margin-top:0;">
      <hr>
    </div>
    <br><br>
    <div class="row vcenter">
      <div class="col-xs-12 col-sm-3">
        <h1 class="fadein">CHEGA À AMÉRICA LATINA, NEOLASER.</h1>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p class="sliderXl slide-left">A Neolaser é líder mundial em design, engenharia e fabricação de sistemas de laser para medicina e cirurgia, oferecendo excelente qualidade e design de nível internacional, proporcionando excelente desempenho e funcionalidade, flexibilidade e modularidade, tudo a um custo acessível.</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-2">
        <h1 class="text-center fadein">ALTO PADRÃO</h1>
        <p class="sliderYt slide-top">A Neolaser América Latina pretende comercializar tecnologia de diodo laser de alto padrão para vários parceiros, promovendo o seu reconhecimento como referência em saúde, qualidade e tecnologia. Assim, buscamos perpetuar o sucesso internacional também nos países da América Latina.</p>
      </div>
    </div>

    <br><br>

    <div class="row vcenter">
      <div class="col-xs-12 col-sm-4">
        <h1 class="text-center fadein">VASTA GAMA DE APLICAÇÕES</h1>
        <p class="sliderYt slide-top">Os produtos da Neolaser auxiliam uma variedade de aplicações, incluindo cirurgias proctológicas e endovascular, bem como de coluna e otorrinolaringologia. Estamos levantando vendas através de ambos distribuidores regionais e parceiros de alto nível selecionados.</p>
      </div>
      <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <div class="row vcenter">
          <div class="col-xs-12 col-sm-5">
            <h1 class="fadein text-center">EMPRESA CERTIFICADA</h1>
          </div>
          <div class="col-xs-12 col-sm-7">
            <p class="sliderXl slide-left">A empresa é certificada ISO13485, está em conformidade com as GMP, detém tanto marca CE quanto aprovação da FDA para os seus sistemas de laser médico de alto desempenho, e atualmente está crescendo globalmente, com representação e produtos em mais de 30 países e 4 continentes.</p>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br>

    <div class="row vcenter">
      <div class="col-xs-12 col-sm-7">
        <h1 class="text-center fadein">SERVIÇO DE SUPORTE &amp; ORIENTAÇÃO</h1>
        <p class="sliderYt slide-top">Nós somos uma proposta de negócio para os nossos parceiros, não apenas a venda de um produto de alto padrão, mas um serviço de suporte e orientação completo que vai fazer toda a diferença para garantir o sucesso já esperado na implementação da Neolaser América Latina. Para isso temos uma equipe de especialistas dos diversos segmentos atendidos pela Neolaser que estarão disponíveis para quaisquer dúvidas ou esclarecimentos. Nosso <a ui-sref="app.contact">canal de comunicação</a> com os nossos parceiros é também uma das grandes vantagens do nosso trabalho.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <h1 class="fadein">BEM-VINDO À NEOLASER<br>AMÉRICA LATINA.</h1>
      </div>
    </div>

    <br><br><br>

    <div class="row vcenter" id="aboutFooter">
      <div class="col-xs-12 col-sm-2">
        <img src="images/neolaser-logo.png" class="img-responsive"/>
      </div>
      <div class="col-xs-12 col-sm-3">
        <address>Av. João Cabral de Mello Neto, 850, sl. 222<br>
        Barra da Tijuca<br>
        Rio de Janeiro, RJ, Brasil</address>
        <p>Tel: +55 21 2289-1210<br>
        E-mail: contato@neolaserlatam.com
        </p>
      </div>
    </div>

    <br><br><br>
  </div>
</div>
