<div id="aboutWrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center sliderYb slide-bottom" style="font-family: 'Playfair Display SC', serif;font-size:72px;border-top:0;">
      Neolaser América Latina
      </h1>
      <hr style="border-color:#ddd;margin-top:0;">
      <hr>
    </div>
    <br><br>
    <div class="row vcenter">
      <div class="col-xs-12 col-sm-3">
        <h1 class="fadein">CHEGA À AMÉRICA LATINA, NEOLASER.</h1>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p class="sliderXl slide-left">NeoLaser is a world leader in design, engineering, and manufacturing of medical and surgical laser systems, offering top-notch quality and world-class design, providing excellent performance and functionality, flexibility and modularity, all at an affordable cost.</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-2">
        <h1 class="text-center fadein">HIGH STANDARDS</h1>
        <p class="sliderYt slide-top">Neolaser Latin America aims to commercialize the high standard of technology laser diode to several partners, promoting their recognition as reference in health, quality and technology. Thus, we seek to perpetuate the international success also by the countries of Latin America.</p>
      </div>
    </div>

    <br><br>

    <div class="row vcenter">
      <div class="col-xs-12 col-sm-4">
        <h1 class="text-center fadein">HIGH VOLUME APPLICATIONS</h1>
        <p class="sliderYt slide-top">NeoLaser’s products support a variety of high volume applications including Endovascular and Proctology Surgery as well as Spine and ENT. Is building sales through both regional distributors and selected high-level partners.</p>
      </div>
      <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <div class="row vcenter">
          <div class="col-xs-12 col-sm-4">
            <h1 class="fadein text-center">CERTIFIED COMPANY</h1>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p class="sliderXl slide-left">The company is ISO13485 certified, GMP compliant, holds both CE mark and FDA clearance for its high-end medical laser systems, and is currently growing globally, with representation and products in over 30 countries and 4 continents.</p>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br>

    <div class="row vcenter">
      <div class="col-xs-12 col-sm-7">
        <h1 class="text-center fadein">SERVICE SUPPORT &amp; GUIDANCE</h1>
        <p class="sliderYt slide-top">We as business proposition for our partners, not just the sale of a high standard product, but a complete service support and guidance that will make all the difference to ensure the success already expected implementation Neolaser Latin America. For this we have a team of specialists the various segments served by Neolaser that will be available for any questions or clarifications. Our communication channel with our partners is also one of the great advantages of our work.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <h1 class="fadein">WELCOME TO NEOLASER<br>LATIN AMERICA.</h1>
      </div>
    </div>

    <br><br><br>

    <div class="row vcenter" id="aboutFooter">
      <div class="col-xs-12 col-sm-2">
        <img src="images/neolaser-logo.png" class="img-responsive"/>
      </div>
      <div class="col-xs-12 col-sm-3">
        <address>Av. João Cabral de Mello Neto, 850, sl. 222<br>
        Barra da Tijuca<br>
        Rio de Janeiro, RJ, Brazil</address>
        <p>Tel: +55 21 2289-1210<br>
        E-mail: contato@neolaserlatam.com
        </p>
      </div>
    </div>

    <br><br><br>
  </div>
</div>
