<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Início</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Tratamentos</a></li>
  <li class="breadcrumb-item active">ENT</li>
</ol>
<div id="entWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="ent-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">ENT &ndash; Ouvidos, Nariz &amp; Garganta</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/ENT-nobg.png" class="img-responsive pull-right" style="max-height:350px;">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">
                O laser NeoV pode ser utilizado como uma ferramenta de coagulação e de cortes precisos para uma variedade de aplicações cirúrgicas nos campos de ENT, como ...</p>
              <div id="last" class="collapse">
                <p class="text-justify">
                  Deformação do septo, pólipos, cistos, mucoceles, amigdalectomia, LAUP, glossectomia, estapedotomia, DCR, cordectomia, epiglotectomia, cirurgia de papiloma, bem como excisão de lesões cancerosas.
                </p>
                <p class="text-justify">
                  A energia do laser pode ser utilizada para vaporizar, excisar e cortar o tecido mole, fornecendo ainda lesão térmica lateral, capaz de coagular vasos sanguíneos.
                </p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#applications" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;POTENCIAIS APLICAÇÕES</h3>
            </div>
            <div id="applications" class="collapse marginJ">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-6">
                  <p class="text-justify">
                    O sistema de laser NeoV permite uma vasta gama de intervenções cirúrgicas, com precisão e segurança. Escolha o sistema <a ui-sref="app.neoV980"><strong>980nm</strong></a> ou o <a ui-sref="app.neoV1470"><strong>1470nm</strong></a>, dependendo do tipo de aplicação que você procura. O sistema pode ser facilmente utilizado na sala de cirurgia ou em consultório, e permite uma série de níveis de potência para desde o trabalho delicado em estruturas críticas, até a remoção rápida de tecido.
                  </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <table class="table table-striped table-responsive table-hover">
                    <thead><tr><th>Potenciais aplicações</th></tr></thead>
                    <tbody>
                      <tr><td>Cirurgia do ouvido médio, estapedotomia</td></tr>
                      <tr><td>Câncer de laringe, cordectomia</td></tr>
                      <tr><td>Lesões orafaríngeas, vaporização de tumores</td></tr>
                      <tr><td>Amigdalectomia</td></tr>
                      <tr><td>Glossectomia</td></tr>
                      <tr><td>Septo nasal, pólipos, cistos, mucoceles</td></tr>
                      <tr><td>Estenose subglótica e lesões</td></tr>
                      <tr><td>Estenose traqueal e lesões</td></tr>
                      <tr><td>Uvulopalatoplastia assistida por laser</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#otology" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;OTOLOGIA</h3>
            </div>
            <div id="otology" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="row" id="kits">
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/ent/ent.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/ent/fiber.png" class="img-responsive"/>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <p class="text-justify">
                    O laser NeoV oferece uma modalidade delicada e de alta precisão para tratamentos do ouvido interno. Através da utilização de um kit descartável de fibras ópticas de núcleo reduzido com design especial, delicadeza na ablação e na remoção de tecido pode ser alcançada. O uso de um sistema de fibras portátil com um feixe de mira claramente visível, garante aplicação segura e controle de alta precisão durante a aplicação de energia.
                  </p>
                  <p class="text-justify">
                    A Neolaser oferece um sistema flexível e reutilizável de peças de mão, que consiste em uma peça rígida e ergonômica e várias cânulas de terminação, ou uma peça de mão estéril completamente descartável com uma fibra de alta precisão integrada.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#accessories" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;FIBRAS E ACESSÓRIOS</h3>
            </div>
            <div id="accessories" class="collapse marginJ inner">
              <div class="row vcenter" id="kits">
                <div class="row">
                  <div class="col-xs-12 col-sm-5">
                    <img src="images/ent/cannula.png" class="img-responsive"/>
                  </div>
                  <div class="col-xs-12 col-sm-7">
                    <p class="text-justify">A Neolaser oferece um amplo e abrangente conjunto de acessórios cirúrgicos para várias especialidades. O sistema cirúrgico modular de peças de mão da Neolaser permite escolher o tamanho e a forma da cânula correspondentes à anatomia tratada. Basta conectar a cânula escolhida à peça de mão ergonômica para fácil acesso. Tubos personalizados podem ser fabricados sob solicitação.</p>
                    <p class="text-justify">Peças de mão adicionais especializadas também estão disponíveis, tais como peças de mão para laringe e aspiração.</p>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-xs-12 col-sm-4 pull-right">
                  <img src="images/ent/safety.png" class="img-responsive">
                  <p>Acessórios de segurança também estão disponíveis.</p>
                </div>
              </div>
              <br><br>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#wavelength" ng-click="plusSignJ4 = !plusSignJ4">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;INTERAÇÃO E COMPRIMENTO DE ONDA À SUA ESCOLHA</h3>
            </div>
            <div id="wavelength" class="collapse marginJ">
              <div class="container">
                <div class="row vcenter">
                  <div class="col-xs-12 col-sm-6">
                    <img src="images/pldd/wavelength.png" class="img-responsive" style="background:white;"/>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p class="text-justify">A interação do laser com tecidos moles depende do comprimento de onda escolhido. O laser NeoV vem em 2 versões: 980nm e 1470nm.</p>
                    <p class="text-justify"><a ui-sref="app.neoV980"><strong>O laser de 980nm</strong></a> com igual absorção em água e em sangue, apresenta-se como uma poderosa ferramenta cirúrgica para todos os fins de incisão, excisão, coagulação e vaporização, bem como uma fonte de alta potência para trabalhos cirúrgicos rápidos.
                    </p>
                    <p class="text-justify"><a ui-sref="app.neoV1470"><strong>O laser de 1470nm</strong></a>, com absorção significativamente maior em água, proporciona um instrumento de precisão para cirurgias reincidentes, com danos colaterais reduzidos em torno das estruturas críticas.</p>
                    <p class="text-justify">
                      A interação com o tecido pode ser facilmente manipulada alterando a distância até o tecido, desde a incisão precisa, quando em modo de contato, até a coagulação e a ablação quando removida do tecido.
                    </p>
                    <p class="text-justify">Quaisquer que sejam suas necessidades cirúrgicas, a plataforma NeoV é a sua solução.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ5 = !plusSignJ5">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ5 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;BENEFíCIOS</h3>
            </div>
            <div id="benefits" class="collapse marginJ inner">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Minimamente Invasiva</th>
                    <td>A plataforma NeoV permite uma grande variedade de tratamentos minimamente invasivos. A capacidade de fornecer energia de alta potência através de uma fibra flexível de diâmetro pequeno facilita e amplia muitas opções de tratamento.</td>
                  </tr>
                  <tr>
                    <th scope="row">Multi Plataforma</th>
                    <td>Dada a flexibilidade das opções de fornecimento de fibras, bem como de peças de mão cirúrgicas disponíveis, o laser NeoV pode ser usado em conjunto com toda e qualquer plataforma cirúrgica e abordagem. Desde instrumentos portáteis sob visualização do microscópio cirúrgico (através de abordagem endoscópica, seja rígida ou flexível, incluindo laparoscopia), até os canais robóticos. Todas as opções estão disponíveis para fornecimento de energia segura e eficaz.</td>
                  </tr>
                  <tr>
                    <th scope="row">Vários Comprimentos de Onda</th>
                    <td>O NeoV 980 e o NeoV 1470 são duas ferramentas altamente eficazes porém diferentes para ENT, por possuirem diferentes absorção no tecido mole. Assim, ambos os sistemas cobrem uma gama de opções de interação com o tecido, desde coagulação forte e profunda a excisões micro-cirúrgicas de precisão.</td>
                  </tr>
                  <tr>
                    <th scope="row">Interação Flexível com o Tecido</th>
                    <td>A energia, fornecida através de fibras ópticas de núcleo sólido, permite tanto o trabalho de contato quanto não-contato. Trabalho de contato fornece feedback tátil e de corte rápido, enquanto o modo sem contato permite a vaporização e coagulação de grandes áreas.</td>
                  </tr>
                  <tr>
                    <th scope="row">Múltiplas Alternativas de Fibra</th>
                    <td>Os lasers NeoV podem ser emitidos através de uma grande variedade de fibras, com núcleos que variam de 300 a 600 microns, e com várias opções de emissão do feixe na ponta.</td>
                  </tr>
                  <tr>
                    <th scope="row">Procedimento em Consultório</th>
                    <td>Dado o pequeno tamanho, ainda que alta potência, a plataforma NeoV é a ferramenta perfeita para permitir a mudança de procedimentos da sala de cirurgia para o consultório. Você pode ficar seguro de que o NeoV irá lhe fornecer energia suficiente para enfrentar procedimentos desafiadores de maneira segura e eficaz.</td>
                  </tr>
                  <tr>
                    <th scope="row">Valor </th>
                    <td>A plataforma NeoV oferece o melhor valor no mercado para a sua clínica de ENT através de um design exclusivo, qualidade, portabilidade e desempenho de alto nível.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#articles" ng-click="plusSignJ7 = !plusSignJ7">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ7 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;ARTIGOS RELACIONADOS</h3>
            </div>
            <div id="articles" class="collapse marginJ inner">
              <!-- toggleable content -->
              <div ng-repeat="file in entfiles">
                <div class="col-xs-12 col-sm-6">
                  <div class="media">
                    <div class="media-left media-top">
                      <a ng-href="{{file.path}}" download>
                        <i class="fa fa-download fa-3x"></i>
                      </a>
                    </div>
                    <div class="media-body">
                      <a ng-href="{{file.path}}" download>
                        <h4 class="media-heading">
                          {{file.title | uppercase}}
                        </h4>
                      </a>
                      <p style="margin-bottom:0;"><strong>Autores:</strong> {{file.authors}}</p>
                      <p><strong>Data:</strong> {{file.date}}</p>
                      <hr>
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#videos" ng-click="plusSignJ6 = !plusSignJ6">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ6 ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&emsp;<i class="fa fa-youtube-play" style="color:inherit;background:inherit;opacity:1.0;"></i> VÍDEOS RELACIONADOS</h3>
            </div>
            <div id="videos" class="collapse in marginJ inner">
              <!-- toggleable content -->
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h4 class="text-center"><strong>Stapedotomy Otology Surgery with neoV Laser</strong></h4>
                  <hr>
                  <div class="col-xs-12 col-sm-6">
                    <div class="iframe-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/kwr4oUuwAgs" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:12px;"><a href="https://youtu.be/kwr4oUuwAgs" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                    </p>
                    <p><strong>Uploaded on Oct 11, 2016</strong></p>
                    <p><strong>Channel: </strong>Gil Shapira</p>
                    <p><strong>Description: </strong>
                      Primary Stapedotomy surgery with the neoV980 laser, at the Causse Clinic, by Dr. Robert Vincent.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h4 class="text-center"><strong>980nm Diode neoLaser Turbinate Reduction</strong></h4>
                  <hr>
                  <div class="col-xs-12 col-sm-6">
                    <div class="iframe-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/EGSkBBpMx04" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:12px;"><a href="https://youtu.be/EGSkBBpMx04" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                    </p>
                    <p><strong>Uploaded on Oct 12, 2016</strong></p>
                    <p><strong>Channel: </strong>Gil Shapira</p>
                    <p><strong>Description: </strong>
                      Turbinate reduction using the neoV980 diode laser.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/ENT-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD DO FOLHETO
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV980">
                <div class="btn-simple">
                  <h3>
                    MAIS SOBRE O NEOV 980
                  </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <a a type="button" ui-sref="app.treatments">
                <div class="btn-simple">
                  <h3>
                    OUTROS TRATAMENTOS
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Topo
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="ent-col-2">
      <h4><strong>NOSSOS PRODUTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OUTROS TRATAMENTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.EVLA">
        <div class="img-wrapper">
          <img src="images/knee-blackNgreen.png">
        </div>
        <p><strong>EVLA</strong><br>Aplicações Endovenosas</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.PLDD">
          <div class="img-wrapper">
            <img src="images/back-nobg.png">
          </div>
          <p><strong>PLDD</strong><br>Cirurgia da Coluna</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.proctology">
        <div class="img-wrapper">
          <img src="images/procto.png">
        </div>
        <p><strong>PROCTOLOGIA</strong><br>Fístula anal e hemorróidas</p>
        </a>
      </div>
    </div>
  </div>
</div>
