<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Início</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Tratamentos</a></li>
  <li class="breadcrumb-item active">Aplicações Endovasculares (EVLA)</li>
</ol>
<div id="evlaWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="evla-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">ENDOVASCULAR</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/vascular/legs.png" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">O NeoV é indicado para Ablação Endovenosa a Laser (EVLA), no tratamento de veias varicosas. A doença tem prevalência significativa na população em geral. Até 55% das mulheres e 45% dos homens sofrem de doenças venosas. Destes, até 25% das mulheres e 15% dos homens terão varizes visíveis.</p>
              <div id="last" class="collapse">
                <p class="text-justify">Métodos de tratamento cirúrgico incluem cirurgia aberta, stripping e técnicas minimamente invasivas. A Ablação Endovenosa a Laser (EVLA) fornece a ferramenta ideal para o tratamento de veias em um método minimamente invasivo, com taxas de complicação reduzidas e alta eficácia.</p>
                <p class="text-justify">Ao aplicar a energia do laser, a parte interna da parede do vaso fica irreversivelmente destruída, eliminando, assim, a veia disfuncional. O vaso é reabsorvido nos meses seguintes.</p>
                <p class="text-justify">A maioria dos estudos tem demonstrado recuperação mais rápida e menos complicações usando técnicas de tratamento minimamente invasivas. A introdução recente de energia 1470nm, com absorção mais elevada na água, e, como resultado, menos danos colaterais térmicos, melhorou a técnica ainda mais, permitindo a utilização segura, rápida e precisa de energia para coagular o vaso com mínimo impacto sobre as estruturas vizinhas.</p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#procedure" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;PROCEDIMENTO EVLA</h3>
            </div>
            <div id="procedure" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <p class="text-justify">
                    A Ablação Endovenosa a Laser utiliza a orientação de ultra-som e anestesia tumescente para permitir o tratamento. A punção é realizada permitindo a entrada percutânea e acesso à junção safeno-femoral (JSF). Um fio guia, visível sob ultra-som, avança para a área de tratamento, seguindo-se o introdutor. O fio guia é removido e substituído com a fibra óptica para o fornecimento de energia.
                  </p>
                  <p class="text-justify">
                    A energia é fornecida ao mesmo tempo em que se puxa de volta a fibra e o introdutor, permitindo a deposição de energia ao longo de todo o comprimento da veia. A facilidade de utilização e a natureza minimamente invasiva do aparelho permitem a rápida conclusão do tratamento; o paciente pode retornar às suas atividades normais imediatamente após o tratamento.
                  </p>
                  <p class="text-justify">
                    Permitindo um tratamento rápido com a configuração e portabilidade ideais, o sistema de cirurgia a laser NeoV irá fornecer rápido retorno do investimento, permitindo-lhe expandir a sua prática.
                  </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <h4 class="text-center">Principais Vantagens</h4>
                  <table class="table table-striped table-hover table-bordered">
                    <tbody>
                      <tr><td>Fácil utilização, pré-configurações cirúrgicas</td></tr>
                      <tr><td>Controle em tela sensível ao toque</td></tr>
                      <tr><td>Kit de procedimento completo</td></tr>
                      <tr><td>Alta confiabilidade, sem manutenção</td></tr>
                      <tr><td>Portátil</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#corona" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;TECNOLOGIA CORONA 360</h3>
            </div>
            <div id="corona" class="collapse marginJ inner">
              <div class="row">
                <div class="col-xs-12 col-sm-5" id="corona4x4">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 text-center">
                      <p><strong>CORONA 360</strong></p>
                      <img src="images/vascular/corona360ul.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 text-center">
                      <p><strong>CORONA 360 Slim</strong></p>
                      <img src="images/vascular/corona360ur.png" class="img-responsive"/>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/corona360ll.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/corona360lr.png" class="img-responsive"/>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <h4 class="text-center"><strong>Principais Benefícios</strong></h4>
                    <table class="table table-striped table-responsive table-hover table-bordered">
                      <tbody>
                        <tr><td>Tecnologia de emissão circular</td></tr>
                        <tr><td>Ângulo de emissão melhorado</td></tr>
                        <tr><td>Redução do número de etapas nos procedimentos</td></tr>
                        <tr><td>Inserção muito segura e suave</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                  <h4>Fibras para o fornecimento de energia ideal</h4>
                  <p>Oferecemos 2 versões diferentes de fibras.</p>
                  <p>O comprimento de onda ideal é acoplado ao fornecimento de energia ideal ao usar as nossas fibras ópticas Corona 360 regulares e slim &ndash; as fibras de emissão circular da mais alta qualidade.</p>
                  <p>Todas as fibras estão equipadas com kits de procedimento completos com os últimos avanços em tecnologia endovascular.</p>
                  <div class="row">
                    <div class="row" style="background:#eee;border-radius:16px;">
                      <div class="col-xs-12 col-sm-7 text-justify" style="padding:15px;">
                        <h4>Tecnologia Corona 360</h4>
                        <p>
                          A tecnologia de fibra Corona 360 da Neolaser fornece eficiência em emissão circular, garantindo deposição de energia diretamente na parede do reservatório.
                        </p>
                        <p>
                          Ao apontar a luz em um ângulo de 60 graus em relação ao eixo da fibra, a coagulação é garantida durante a retirada da fibra.
                        </p>
                        <p>
                          A ponta da fibra é constituída por um capilar de vidro extra suave, diretamente ligado a um revestimento liso demarcado, permitindo a fácil inserção direta na veia.
                        </p>
                        <p>
                          A fibra utiliza um kit de procedimento simples com um pequeno introdutor, reduzindo etapas e tempo de procedimento.
                        </p>
                      </div>
                      <div class="col-xs-12 col-sm-5" style="padding:15px;">
                        <img src="images/vascular/corona360.png" class="img-responsive"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#kits" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;KITS DE PROCEDIMENTO</h3>
            </div>
            <div id="kits" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-5" id="kits4x4">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/upperkitsL.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/upperkitsR.png" class="img-responsive"/>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/lowerkitsL.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/lowerkitsR.png" class="img-responsive"/>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                  <p class="text-justify">
                    A fibra CORONA 360 acompanha um kit de introdução para o procedimento endovascular.
                  </p>
                  <p class="text-justify">
                    O kit de introdução 6FR inclui uma agulha especial, visível sob ultra-som, um fio guia em J, um introdutor e um dilatador para garantir a entrada suave e não-traumática no vaso sanguíneo.
                  </p>
                  <p class="text-justify">
                    O introdutor é compatível tanto com a CORONA 360 quanto com a CORONA 360 Slim e suas demarcações coincidem com as da fibra para a segurança e eficácia do procedimento.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#neoV" ng-click="plusSignJ4 = !plusSignJ4">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;O NEOV 1470</h3>
            </div>
            <div id="neoV" class="collapse marginJ">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-5" style="background:#eee;border-radius:16px;padding:15px;">
                    <img src="images/vascular/wavelength.png" class="img-responsive" style="background:white;"/>
                    <h4 class="text-center"><strong>Comprimento de Onda à sua escolha!</strong></h4>
                    <p class="text-justify">A interação do laser com o tecido depende do comprimento de onda escolhido. O diodo laser do NeoV 1470 oferece um comprimento de onda singular com desempenho superior para ablação de veias doentes &ndash; 1470nm. Em contraste com as gerações anteriores de terapia a laser com penetração profunda, o comprimento de onda 1470nm é altamente absorvido pela água no tecido. Como resultado, a produção de calor é altamente localizada e a aplicação é segura e precisa.</p>
                  </div>
                  <div class="col-xs-12 col-sm-7">
                    <h4 class="text-center"><strong>Deposição de Energia Segura e Homogênea</strong></h4>
                    <p class="text-justify">
                      O laser NeoV fornece ao usuário um sinal de sincronização que se relaciona com a dose pretendida, especificada em J por cm, o que permite ao usuário combinar segura e cuidadosamente a velocidade de recuo com a dosagem desejada.
                    </p>
                    <p class="text-justify">
                      O laser NeoV vem equipado com programas pré-definidos e pode ser facilmente programado pelo usuário para dosagens e velocidades de recuo específicas, que podem dizer respeito ao diâmetro da veia e o tipo de energia utilizada.
                    </p>
                    <p class="text-justify">
                      Esta característica singular fornece a deposição segura e homogênea de energia ao longo da parede da veia.
                    </p>
                    <br><br>
                    <table class="table table-striped table-hover table-responsive table-bordered">
                      <thead>
                        <tr><th class="text-center">Principais Vantagens</th></tr>
                      </thead>
                      <tbody>
                        <tr><td>Fácil utilizar o sinal de áudio para sincronizar a velocidade de recuo</td></tr>
                        <tr><td>Até 99 pré-configurações de dosagem podem ser definidas</td></tr>
                        <tr><td>Deposição de energia segura e homogênea</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h4 class="text-center"><strong>Portabilidade Ideal</strong></h4>
                    <p class="text-justify">O laser NeoV é único. É o menor sistema de sua classe de eficiência com uma pegada de apenas 22 centímetros&times;22 centímetros e um peso de apenas 3,5 kg. Equipado com uma mala de viagem feita sob encomenda para o transporte fácil e seguro entre os locais de tratamento, o sistema oferece flexibilidade incomparável. O sistema pode ser ligado a partir do momento que você entra na sala, e estará no gatilho em menos de 2 minutos. Tal desempenho inigualável irá ajudá-lo a expandir sua prática e rendimento base, tornando o NeoV o investimento ideal para o seu negócio.</p>
                    <img src="images/vascular/portability.png" class="img-responsive center-block"/>
                    <div class="text-center">
                      <button role="button" class="btn btn-default" ui-sref="app.neoV1470">Saiba Mais</button>
                      <button role="button" class="btn btn-default" ui-sref="app.contact">Contate-nos</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/VASCULAR-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD DO FOLHETO
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MAIS SOBRE O NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Topo
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="evla-col-2">
      <h4><strong>NOSSOS PRODUTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OUTROS TRATAMENTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.PLDD">
          <div class="img-wrapper">
            <img src="images/back-nobg.png">
          </div>
          <p><strong>PLDD</strong><br>Cirurgia da Coluna</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.ENT">
        <div class="img-wrapper">
          <img src="images/ENT-nobg.png">
        </div>
        <p><strong>OTORRINO</strong><br>Ouvidos, nariz e garganta</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.proctology">
        <div class="img-wrapper">
          <img src="images/procto.png">
        </div>
        <p><strong>PROCTOLOGIA</strong><br>Fístula anal e hemorróidas</p>
        </a>
      </div>
    </div>
  </div>
</div>
