<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Início</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.products">Produtos</a></li>
  <li class="breadcrumb-item active">neoV 1470</li>
</ol>
<div id="neoVWrappers" class="sliderYp slide-page">
  <div class="jumbotron topJ">
    <div class="container">
      <div class="row">
        <h1 class="text-center">O NEOV 1470</h1>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="images/neoV01.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-7">
          <p class="text-justify">O neoV 1470 é um instrumento microcirúrgico excelente para a ablação endovenosa a laser das veias, bem como para a incisão e excisão de tecido mole em áreas críticas. O pico de absorção de água em 1470nm permite o corte preciso com boa coagulação do tecido mole. Como resultado desta absorção de tecido sem igual, os procedimentos podem ser concluídos em dosagens de energia mais baixas, levando a um menor trauma térmico e a uma melhor cicatrização. <a ui-sref="app.contact"><strong>Contacte-nos para mais informações sobre esta unidade.</strong></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#treatment" ng-click="plusSignJ1 = !plusSignJ1">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ1 ? 'fa-minus' : 'fa-plus'"></i>&emsp;TRATAMENTOS</h3>
        </div>
        <ul id="treatment" class="collapse marginJ">
          <li>Telangiectasia</li>
          <li>Lesões Vasculares</li>
          <li>Ablação Endovenosa</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ2 = !plusSignJ2">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ2 ? 'fa-minus' : 'fa-plus'"></i>&emsp;BENEFíCIOS</h3>
        </div>
        <div id="benefits" class="collapse">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Precisão Cirúrgica</th>
                <td>O neoV 1470 produz energia a 1470nm, um comprimento de onda sem igual, tendo um pico de absorção de água em tecidos moles. Por conseguinte, a energia se transforma em calor imediatamente acima da superfície do tecido, para a ablação e corte preciso.</td>
              </tr>
              <tr>
                <th scope="row">Até 10 Watts de Potência</th>
                <td>O neoV 1470 fornece até 10 Watts de energia a 1470nm a partir da ponta da fibra. Combinado com a alta absorção em tecido mole, o neoV 1470 é um instrumento de corte e coagulação poderosa para múltiplos procedimentos.</td>
              </tr>
              <tr>
                <th scope="row">Design Único</th>
                <td>O sistema a laser neoV 1470 é o único sistema no mercado a abrigar uma potência na saída da fibra de 10 Watts em uma configuração tão pequena, leve e portátil, aproveitando sua tecnologia de arrefecimento patenteada. Com as suas habilidades formidáveis, o neoV 1470 representa a próxima geração de excelência em laser design.</td>
              </tr>
              <tr>
                <th scope="row">Qualidade Top de Linha</th>
                <td>Todos os componentes que compreendem o neoV 1470 são de excelente qualidade, desde a carcaça de alumínio completa, até o coração da unidade &ndash; o diodo laser.</td>
              </tr>
              <tr>
                <th scope="row">Fácil de Usar</th>
                <td>A interface de usuário do neoV 1470, oferecendo até 99 predefinições, e equipada com pré-ajustes pré-programados especiais para tratamentos endovasculares, oferece uma interface clara e simples.</td>
              </tr>
              <tr>
                <th scope="row">Valor</th>
                <td>O neoV 1470, com as suas características inigualáveis e design de excelência, oferece um excelente valor para suas aplicações cirúrgicas.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#features" ng-click="plusSignJ3 = !plusSignJ3">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ3 ? 'fa-minus' : 'fa-plus'"></i>&emsp;FUNÇÕES &amp; VANTAGENS</h3>
        </div>
        <div id="features" class="collapse">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Funções Chave</th>
                <th>Design</th>
                <th>Fácil de Usar</th>
                <th>Aplicações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Comprimento de Onda 1470 nm</td>
                <td>Design de Alto Nível</td>
                <td>Tela "touch" grande, colorida, de alto brilho</td>
                <td>Alta absorção de água</td>
              </tr>
              <tr>
                <td>10 Watts de Potência</td>
                <td>22cm&times;22cm&times;10cm</td>
                <td>Fácil conexão da fibra</td>
                <td>Eficácia e Segurança</td>
              </tr>
              <tr>
                <td>Emissão circular, bulbo ou fibra nua</td>
                <td>Peso de apenas 3,5 kg</td>
                <td>99 opções cirúrgicas predefinidas</td>
                <td>Mínimo dano colateral térmico</td>
              </tr>
              <tr>
                <td>Kit introdutor completo</td>
                <td>Preço acessível</td>
                <td>Portabilidade</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#applications" ng-click="plusSignJ4 = !plusSignJ4">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ4 ? 'fa-minus' : 'fa-plus'"></i>&emsp;APLICAÇÕES CLÍNICAS</h3>
        </div>
        <div id="applications" class="collapse">
          <div class="row marginJ">
            <div class="col-xs-12 col-sm-6">
              <h4>Tratamento Endovenoso (EVLA)</h4>
              <p>O diodo laser neoV 1470 oferece um comprimento de onda singular com desempenho superior para ablação de veias doentes. Em contraste com as gerações anteriores de terapia a laser com penetração profunda do tecido, o comprimento de onda 1470nm é altamente absorvido pela água no tecido. Como resultado, a produção de calor é altamente localizada e a aplicação é segura e precisa.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Descompressão Percutânea de Disco a Laser (PLDD)</h4>
              <p>No tratamento ortopédico de hérnia de disco, o neoV 1470 permite procedimentos PLDD. A energia do laser é emitida por uma fibra através de uma agulha oca, que evapora o conteúdo de água no tecido reduzindo a pressão e, como resultado, aliviando a dor nas costas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#specs" ng-click="plusSignJ5 = !plusSignJ5">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ5 ? 'fa-minus' : 'fa-plus'"></i>&emsp;ESPECIFICAÇÕES</h3>
        </div>
        <div id="specs" class="collapse">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Especificações do neoV 1470</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">Comprimento de onda do laser</th>
                    <td>1.470 nm</td>
                  </tr>
                  <tr>
                    <th scope="row">Display/Controle</th>
                    <td>Tela "touch" colorida</td>
                  </tr>
                  <tr>
                    <th scope="row">Output Power (Laser)</th>
                    <td>12 W</td>
                  </tr>
                  <tr>
                    <th scope="row">Feixe de mira</th>
                    <td>532 nm or 650nm, ajustável</td>
                  </tr>
                  <tr>
                    <th scope="row">Conexão da Fibra</th>
                    <td>Patenteada</td>
                  </tr>
                  <tr>
                    <th scope="row">Modos de operação</th>
                    <td>Onda contínua, Pulsante</td>
                  </tr>
                  <tr>
                    <th scope="row">Requisitos de Energia</th>
                    <td>19 VDC, 4.7 A</td>
                  </tr>
                  <tr>
                    <th scope="row">Dimensões(A&times;L&times;C)</th>
                    <td>10&times;22&times;22 (cm)</td>
                  </tr>
                  <tr>
                    <th scope="row">Peso (fora da caixa)</th>
                    <td>3,5 kg</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Fibras &amp; Kits</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">CORONA 360</th>
                    <td>Emissão circular, 3m, 600&mu;m, com marcação</td>
                  </tr>
                  <tr>
                    <th scope="row">Kit Butterfly 400</th>
                    <td>Ponta do bulbo, 2,6m, 400&mu;m, fio guia, agulha, introdutor com marcação de profundidade 70cm/100cm</td>
                  </tr>
                  <tr>
                    <th scope="row">Kit Butterfly 600</th>
                    <td>Ponta do bulbo, 2,6m, 600&mu;m, fio guia, agulha, introdutor com marcação de profundidade 70cm/100cm</td>
                  </tr>
                  <tr>
                    <th scope="row">Fibra Padrão</th>
                    <td>nua, 2,6m 400&mu;m</td>
                  </tr>
                  <tr>
                    <th scope="row">Fibra Padrão</th>
                    <td>nua, 2,6m 600&mu;m</td>
                  </tr>
                  <tr>
                    <th scope="row">Introdutor CORONA 360</th>
                    <td>Fio Guia 65cm, agulha 20G, revestimento 6F</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ">
    <div class="container">
      <h1 class="text-center">VEJA TAMBÉM</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <a ui-sref="app.products"><div class="btn-simple">
            <h3>NOSSOS PRODUTOS</h3>
          </div></a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a ui-sref="app.neoV980"><div class="btn-simple">
            <h3>NEO V980</h3>
          </div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <a ui-sref="app.treatments"><div class="btn-simple">
            <h3>NOVAS ALTERNATIVAS DE TRATAMENTO</h3>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
