<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Início</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.products">Produtos</a></li>
  <li class="breadcrumb-item active">neoV 980</li>
</ol>
<div id="neoVWrappers" class="sliderYp slide-page">
  <div class="jumbotron topJ">
    <div class="container">
      <div class="row">
        <h1 class="text-center">THE NEOV 980</h1>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="images/neoV02.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-7">
          <p class="text-justify">O neoV 980 é uma ferramenta cirúrgica universal com tecnologia de ponta, destinada a uma ampla gama de aplicações clínicas. Seu comprimento de onda de 980nm, com quase igual absorção em água e sangue, combinado com a mais alta potência da plataforma NeoV, permite tratamentos seguros e eficazes de diversos quadros médicos.</p>
          <p><a ui-sref="app.contact"><strong>Contacte-nos para mais informações sobre esta unidade.</strong></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#treatment" ng-click="plusSignJ1 = !plusSignJ1">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ1 ? 'fa-minus' : 'fa-plus'"></i>&emsp;TRATAMENTOS</h3>
        </div>
        <ul id="treatment" class="collapse marginJ">
          <li>ENT &ndash; Ouvidos, Nariz &amp; Garganta</li>
          <li>PLDD</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ2 = !plusSignJ2">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ2 ? 'fa-minus' : 'fa-plus'"></i>&emsp;BENEFíCIOS</h3>
        </div>
        <div id="benefits" class="collapse">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">ALTA POTÊNCIA</th>
                <td>O neoV 980 é um poderoso laser cirúrgico e estético com até 20W de potência de saída na ponta da fibra. Transmitindo energia de alta potência através de instrumentos de precisão e fibra óptica, a unidade fornece energia suficiente para uma ampla gama de aplicações de grande valor, permitindo uma utilização segura, precisa e eficiente.</td>
              </tr>
              <tr>
                <th scope="row">DESIGN EXTRAORDINÁRIO &amp; QUALIDADE</th>
                <td>O neoV 980 é o menor sistema em sua classe de potência. Utilizando uma tecnologia de arrefecimento exclusiva, a unidade tem apenas uma fração do tamanho e peso de sistemas equivalentes, o que oferece uma portabilidade sem igual. Com a estrutura toda em alumínio e um design incomparável, o neoV 980 representa a próxima geração de excelência em design do laser.</td>
              </tr>
              <tr>
                <th scope="row">APLICAÇÕES CLÍNICAS VERSÁTEIS</th>
                <td>O neoV 980, com saída de alta potência a 980nm, é uma ferramenta clínica versátil devido à quase igual absorção de seu comprimento de onda tanto em água quanto em sangue. Como resultado, o neoV 980 pode ser usado de forma eficiente para cortes de precisão, bem como para coagulação dos vasos para hemostasia. Por conseguinte, o neoV 980 auxilia uma ampla variedade de aplicações clínicas, de estéticas a cirúrgicas.</td>
              </tr>
              <tr>
                <th scope="row">FERRAMENTAS CIRÚRGICAS VERSÁTEIS</th>
                <td>O neoV 980 suporta uma grande variedade de sistemas de entrega de energia por fibra, bem como uma diversidade de peças de mão. O laser pode ser ligado a fibras cirúrgicas de precisão, com núcleos a partir de 300 mícron, através de peças de mão cirúrgicas com pontas modulares de aço inoxidável. Para uso estético, o laser pode ser transmitido através de uma fibra reutilizável de conector duplo, através de peças de mão de foco preciso, fornecendo tamanhos do ponto de aplicação de 0,25mm para cima.</td>
              </tr>
              <tr>
                <th scope="row">VALOR</th>
                <td>O neoV 980, unidade de alta potência, qualidade e design top de linha, flexibilidade clínica completa em diversas aplicações e sem necessidade de contínuas manutenções, oferece um valor único para os nossos clientes por anos a fio.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#features" ng-click="plusSignJ3 = !plusSignJ3">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ3 ? 'fa-minus' : 'fa-plus'"></i>&emsp;FUNÇÕES &amp; VANTAGENS</h3>
        </div>
        <div id="features" class="collapse">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Principais Características</th>
                <th>Design</th>
                <th>Fácil de Usar</th>
                <th>Valor Incomparável</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Comprimento de onda 980nm</td>
                <td>Design de excelência</td>
                <td>Tela "touch" ampla, colorida, de alto brilho</td>
                <td>Funções de segurança melhoradas</td>
              </tr>
              <tr>
                <td>Até 20W a 980nm na ponta do laser</td>
                <td>22cm &times; 22cm &times; 10cm</td>
                <td>Interface do usuário intuitiva</td>
                <td>Alta confiabilidade e manutenção reduzida</td>
              </tr>
              <tr>
                <td>Fibras de 300&mu;m a 600&mu;m</td>
                <td>Pesa apenas 3,5 kg</td>
                <td>Conexão das fibras "plugou-usou"</td>
                <td>Portabilidade</td>
              </tr>
              <tr>
                <td>Indicações em ENT &amp; PLDD</td>
                <td>Maleta de transporte personalizada</td>
                <td>Configuração rápida com predefinições</td>
                <td>Tomada padrão</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Feixe de mira verde para facilitar a pontaria</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#applications" ng-click="plusSignJ4 = !plusSignJ4">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ4 ? 'fa-minus' : 'fa-plus'"></i>&emsp;APLICAÇÕES CLÍNICAS</h3>
        </div>
        <div id="applications" class="collapse">
          <div class="row marginJ">
            <div class="col-xs-12 col-sm-6">
              <h4>ENT</h4>
              <p>Em ENT, o laser é ideal para a cirurgia nasal (incluindo pólipos, cistos e tratamento de septo), aplicações orais (dentre elas: amigdalectomia, glossectomia, lesões orais e uvulopalatoplastia), bem como para lesões laríngeas, subglóticas, incluindo tratamentos em consultório. Um kit especial é oferecido para o tratamento de dacriocistorrinostomia (DCR).</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Descompressão Percutânea de Disco a Laser (PLDD)</h4>
              <p>No tratamento ortopédico de hérnia de disco, o neoV 980 auxilia no procedimento PLDD, no qual a energia do laser é emitida por uma fibra que passa através de uma agulha oca, e evapora o conteúdo de água no tecido reduzindo a pressão. Como resultado, obtém-se alívio na dor nas costas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#specs" ng-click="plusSignJ5 = !plusSignJ5">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ5 ? 'fa-minus' : 'fa-plus'"></i>&emsp;ESPECIFICAÇÕES</h3>
        </div>
        <div id="specs" class="collapse">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Especificações do neoV 980</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">Comprimento de Onda do Laser</th>
                    <td>980 nm</td>
                  </tr>
                  <tr>
                    <th scope="row">Display/Controle</th>
                    <td>Tela sensível ao toque, colorida</td>
                  </tr>
                  <tr>
                    <th scope="row">Potência de saída (Laser)</th>
                    <td>28 W</td>
                  </tr>
                  <tr>
                    <th scope="row">Feixe de Mira</th>
                    <td>532nm ou 650nm, ajustável</td>
                  </tr>
                  <tr>
                    <th scope="row">Conexão de Fibra</th>
                    <td>Exclusiva</td>
                  </tr>
                  <tr>
                    <th scope="row">Modos de Operação</th>
                    <td>Onda contínua, pulsante</td>
                  </tr>
                  <tr>
                    <th scope="row">Requisitos de Energia</th>
                    <td>19 VDC, 4.7 A</td>
                  </tr>
                  <tr>
                    <th scope="row">Dimensões(A&times;L&times;C)</th>
                    <td>10&times;22&times;22 (cm)</td>
                  </tr>
                  <tr>
                    <th scope="row">Peso (fora da caixa)</th>
                    <td>3,5 kg</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Fibras &amp; Kits</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">Fibra nua</th>
                    <td>2,6, 300/400/600 &mu;m</td>
                  </tr>
                  <tr>
                    <th scope="row">Sondas de Otologia</th>
                    <td>2,6, 300&mu;m, Sondas Longas/Curtas</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA 90</th>
                    <td>Fibra de disparo lateral, 600&mu;m, 1,8 OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA GC</th>
                    <td>Arrefecimento via gás, 600&mu;m, 1,8mm OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA CD</th>
                    <td>Difusor cilíndrico, 600&mu;m, 1,6mm OD 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA 360</th>
                    <td>Emissão Radial, 600&mu;m, 1,8mm OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">Kit DCR</th>
                    <td>Peça de mão com 2 cânulas, bandeja de esterilização</td>
                  </tr>
                  <tr>
                    <th scope="row">Intubação DCR</th>
                    <td>Kit de intubação, silicone, utilização única, estéril</td>
                  </tr>
                  <tr>
                    <th scope="row">Peças de mão</th>
                    <td>Aço inoxidável, vários tamanhos</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ">
    <div class="container">
      <h1 class="text-center">VEJA TAMBÉM</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <a ui-sref="app.products"><div class="btn-simple">
            <h3>NOSSOS PRODUTOS</h3>
          </div></a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a ui-sref="app.neoV1470"><div class="btn-simple">
            <h3>NEO V1470</h3>
          </div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <a ui-sref="app.treatments"><div class="btn-simple">
            <h3>NOVAS ALTERNATIVAS DE TRATAMENTO</h3>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
