<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Início</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Tratamentos</a></li>
  <li class="breadcrumb-item active">Descompressão Percutânea do Disco a Laser (PLDD)</li>
</ol>
<div id="plddWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="pldd-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">DESCOMPRESSÃO PERCUTÂNEA DO DISCO A LASER (PLDD)</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/back-nobg.png" class="img-responsive pull-right" style="max-height:450px;">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">PLDD é um tratamento minimamente invasivo que utiliza a energia do laser para aliviar dores nas costas e pescoço causadas por hérnia de disco.</p>
              <div id="last" class="collapse">
                <p class="text-justify">Um fibra a laser é inserida através de uma pequena agulha no disco herniado sob anestesia local. Efeitos térmicos provocados pela energia do laser levam ao efeito terapêutico desejado.
                </p>
                <p class="text-justify">
                  O procedimento pode ser realizado em ambulatório e não deixa cicatrizes, eliminando potenciais complicações advindas da cirurgia aberta e mais radical.
                </p>
                <p class="text-justify">
                  A plataforma NeoV, juntamente ao conjunto PLDD da Neolaser, é a solução perfeita para os seus casos PLDD.
                </p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#procedure" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;O PROCEDIMENTO</h3>
            </div>
            <div id="procedure" class="collapse marginJ">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-4">
                  <img src="images/pldd/backG.png" class="img-responsive"/>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <p class="text-justify">
                    O princípio do tratamento de PLDD baseia-se no conceito do disco intervertebral ser um sistema hidráulico fechado. Este sistema consiste no núcleo pulposo, que contém uma grande quantidade de água rodeada pelo anel fibroso inelástico. Um aumento no conteúdo de água do núcleo pulposo leva a um aumento desproporcional de pressão intradiscal.
                  </p>
                  <p class="text-justify">
                    A redução da pressão intradiscal faz com que o material do disco herniado recue na direção do centro do disco, conduzindo assim à redução da compressão da raiz nervosa e alívio da dor radicular. Em PLDD, este mecanismo é explorado pela aplicação de energia laser a fim de evaporar a água no núcleo pulposo.
                  </p>
                  <p class="text-justify">
                    A energia do laser é emitida por uma fibra laser através de uma agulha oca colocada no núcleo pulposo. A agulha é inserida no disco intervertebral sob anestesia local. Além da evaporação da água, o aumento da temperatura também causa desnaturação seguida de renaturação de proteínas. Isto provoca uma alteração estrutural do núcleo pulposo, limitando a sua capacidade de atrair água e, portanto, levando à redução permanente da pressão intradiscal.
                  </p>
                  <p class="text-justify">
                    <a ui-sref="app.neoV1470" target="_blank"><strong>O laser 1470nm</strong></a>, devido ao seu pico de absorção de água, permite uma aplicação mais exata e localizada de calor durante a aplicação, o que permite a ablação exata do abaulamento no disco, o que é altamente benéfico.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;BENEFÍCIOS</h3>
            </div>
            <div id="benefits" class="collapse marginJ inner">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Técnica Minimamente Invasiva</th>
                    <td>PLDD é uma técnica minimamente invasiva para tratamento de dor nas costas resultante de hérnia de disco. Os principais benefícios desta abordagem incluem tratamento sob anestesia local, recuperação rápida e menor risco comparado a abordagens mais invasivas. Além disso, o custo do tratamento é minimizado e optimizado.</td>
                  </tr>
                  <tr>
                    <th scope="row">Entrega de Energia Otimizada</th>
                    <td>A energia laser é fornecida ao tecido alvo através de uma fibra personalizada com um revestimento fino especial. A fibra é enroscada, quer através de uma agulha de 18G ou 20G, dependendo da preferência do médico.</td>
                  </tr>
                  <tr>
                    <th scope="row">Pré-configurações PLDD</th>
                    <td>A plataforma NeoV vem equipada com pré-configurações PLDD que são baseados em extensiva experiência clínica. O laser permite operação pulsada, permitindo relaxamento do tecido e dissipação de calor entre pulsos consecutivos.</td>
                  </tr>
                  <tr>
                    <th scope="row">Portabilidade</th>
                    <td>O neoV é a unidade PLDD mais portátil no mercado. Com apenas 3,5 kg e uma maleta de transporte personalizada de alta qualidade, ele pode ser usado em várias clínicas e auxiliar procedimentos em diversos locais.</td>
                  </tr>
                  <tr>
                    <th scope="row">Valor</th>
                    <td>A plataforma neoV oferece o melhor valor no mercado para tratamentos PLDD através de um design exclusivo, qualidade, portabilidade e desempenho de alto padrão.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#kits" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;FIBRA E ACESSÓRIOS</h3>
            </div>
            <div id="kits" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/pldd/kitL.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/pldd/kitR.png" class="img-responsive"/>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                  <p class="text-justify">
                    O kit Neolaser PLDD inclui tudo que você precisa para um procedimento PLDD ou denervação segura, eficaz e minimamente invasiva. O kit estéril inclui uma fibra nua de 400 micron com revestimento de proteção, 2 tamanhos de agulhas, 20G e 18G, para sua escolha de entrada, e um conector em "Y" permitindo entrada e sucção da fibra. O conector e as agulhas são embalados individualmente para permitir o máximo de flexibilidade no tratamento.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#wavelength" ng-click="plusSignJ4 = !plusSignJ4">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;INTERAÇÃO E COMPRIMENTO DE ONDA À SUA ESCOLHA</h3>
            </div>
            <div id="wavelength" class="collapse marginJ">
              <div class="container">
                <div class="row vcenter">
                  <div class="col-xs-12 col-sm-6">
                    <img src="images/pldd/wavelength.png" class="img-responsive" style="background:white;"/>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p class="text-justify">o laser neoV vem em duas versões &ndash; a de 980nm e a de 1470nm.</p>
                    <p class="text-justify"><a ui-sref="app.neoV980"><strong>o laser de 980nm</strong></a> é uma poderosa ferramenta para vaporização e, geralmente, para cirurgias rápidas.</p>
                    <p class="text-justify"><a ui-sref="app.neoV1470"><strong>O laser de 1470nm</strong></a> de absorção em água significativamente maior, fornece um instrumento de precisão superior para cirurgias reincidentes, reduzindo os danos colaterais ao redor das estruturas críticas.</p>
                    <p class="text-justify">
                      Quaisquer que sejam suas necessidades cirúrgicas, a plataforma neoV é a sua solução.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/PLDD-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD FOLHETO
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV980">
                <div class="btn-simple">
                  <h3>
                    MAIS SOBRE O NEOV 980
                  </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a a type="button" ui-sref="app.treatments">
                <div class="btn-simple">
                  <h3>
                    OUTROS TRATAMENTOS
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MAIS SOBRE O NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Back to Top
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="pldd-col-2">
      <h4><strong>OUR PRODUCTS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OTHER TREATMENTS</strong></h4>
      <div class="row">
        <a ui-sref="app.proctology">
        <div class="img-wrapper">
          <img src="images/procto.png">
        </div>
        <p><strong>PROCTOLOGY</strong><br>Fistula-in-ano and hemorrhoids</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.ENT">
        <div class="img-wrapper">
          <img src="images/ENT-nobg.png">
        </div>
        <p><strong>OTOLARYNGOLOGY</strong><br>Ears, nose, and throat</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.EVLA">
          <div class="img-wrapper">
            <img src="images/knee-blackNgreen.png">
          </div>
          <p><strong>EVLA</strong><br>Endovascular Applications</p>
        </a>
      </div>
    </div>
  </div>
</div>

</div>
