<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Início</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Tratamentos</a></li>
  <li class="breadcrumb-item active">Proctologia</li>
</ol>
<div id="proctologyWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="procto-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">PROCTOLOGIA</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/proctology-transparent.png" class="img-responsive pull-right" style="max-height:350px;">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">Condições proctológicas, tais como hemorróidas e fístula anal são muito prevalentes nas sociedades ocidentais.</p>
              <div id="last" class="collapse">
                <p class="text-justify">
                  Existem algumas opções de tratamento, cada uma com suas vantagens e desvantagens.
                </p>
                <p class="text-justify">
                  A Neolaser apresenta <strong>ALFA&trade;</strong> e <strong>ELITE&trade;</strong> para o tratamento a laser de fístula anal e hemorróidas de graus 3-4, respectivamente. Estas ferramentas de microcirurgia permitem um procedimento seguro, safo para o esfíncter e quase sem dor para pacientes e cirurgiões.
                </p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#alfa" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;PROCEDIMENTO ALFA&trade;</h3>
            </div>
            <div id="alfa" class="collapse marginJ">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-4">
                  <img src="images/proctology/fistula.png" class="img-responsive"/>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <p class="text-justify">
                    Durante um procedimento ALFA&trade;, a energia do laser é fornecida, através de uma fibra óptica de emissão radial, para o trato da fístula, sendo utilizada para extirpar termicamente e fechar o caminho anormal. A energia do laser induz a destruição do epitélio da fístula e obliteração simultânea do trato restante através de um efeito de encolhimento.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#elite" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;O PROCEDIMENTO ELITE&trade;</h3>
            </div>
            <div id="elite" class="collapse marginJ inner">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-8">
                  Em um procedimento ELITE&trade;, a energia do laser é fornecida através de uma fibra óptica apontada para a pilha ou hemorróida, e é utilizada para fechar termicamente as veias que nutrem o crescimento anormal. A energia do laser induz a destruição do epitélio venoso e obliteração simultânea da hemorróida através de um efeito de encolhimento.
                </div>
                <div class="col-xs-12 col-sm-4">
                  <img src="images/proctology/hemorrhoid.png" class="img-responsive"/>
                </div>
              </div>
              <br><br>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;BENEFÍCIOS</h3>
            </div>
            <div id="benefits" class="collapse marginJ inner">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Nova Alternativa de Tratamento</th>
                    <td>A capacidade de fornecer energia de alta potência através de uma fibra flexível de diâmetro pequeno facilita e amplia muitas opções de tratamento; As principais vantagens incluem segurança (ALFA&trade; e ELITE&trade; são procedimentos que preservam o esfíncter), redução da dor, cicatrização mais rápida e melhores resultados, bem como procedimentos mais curtos permitindo uma melhor produtividade para a clínica.</td>
                  </tr>
                  <tr>
                    <th scope="row">Fornecimento de Energia Ideal</th>
                    <td>Tecnologia de fibra patenteada especial, incluindo sonda de fístula e sonda de hemorróida CORONA para tratamento e resultado ideais.</td>
                  </tr>
                  <tr>
                    <th scope="row">Pré-configurações</th>
                    <td>A plataforma NeoV vem equipada com pré-configurações, permitindo facilidade de uso e melhor controle cirúrgico. Estas incluem configurações de hemorróida para assegurar uma dosagem adequada, bem como feedback de áudio para a sincronização da velocidade de retirada, levando a uma aplicação da dosagem precisa e uniforme dentro dos tratos de fístula.</td>
                  </tr>
                  <tr>
                    <th scope="row">Procedimentos em Consultório</th>
                    <td>Dado o pequeno tamanho, porém alta potência, a plataforma NeoV é a ferramenta perfeita para permitir a mudança de procedimentos da sala de cirurgia para o consultório. Com apenas 3,5 kg e uma maleta para transporte personalizada e de alta qualidade, ela pode ser usada em várias clínicas e auxiliar procedimentos em diversos locais.</td>
                  </tr>
                  <tr>
                    <th scope="row">Valor</th>
                    <td>A plataforma NeoV oferece o melhor valor no mercado para a sua clínica de proctologia, através de um design exclusivo, qualidade, portabilidade e desempenho de alto nível.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/PROCTOLOGY-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD DO FOLHETO
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV980">
                <div class="btn-simple">
                  <h3>
                    MAIS SOBRE O NEOV 980
                  </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a a type="button" ui-sref="app.treatments">
                <div class="btn-simple">
                  <h3>
                    OUTROS TRATAMENTOS
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MAIS SOBRE O NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Topo
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="procto-col-2">
      <h4><strong>NOSSOS PRODUTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OUTROS TRATAMENTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.ENT">
        <div class="img-wrapper">
          <img src="images/ENT-nobg.png">
        </div>
        <p><strong>ENT</strong><br>Ouvidos, nariz e garganta</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.EVLA">
        <div class="img-wrapper">
          <img src="images/knee-blackNgreen.png">
        </div>
        <p><strong>EVLA</strong><br>Aplicações Endovenosas</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.PLDD">
          <div class="img-wrapper">
            <img src="images/back-nobg.png">
          </div>
          <p><strong>PLDD</strong><br>Cirurgia da Coluna</p>
        </a>
      </div>
    </div>
  </div>
</div>
