<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Início</a></li>
  <li class="breadcrumb-item active">Nossos Produtos</li>
</ol>
<div id="productsWrapper" class="sliderYp slide-page">
  <div class="jumbotron topJ" id="topJ">
    <div class="container">
      <div class="row vcenter">
        <div class="col-xs-12 col-sm-6">
          <img src="images/neoV01.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-6">
          <h1>O LASER NEOV</h1>
          <p>Um laser clínico poderoso e versátil, utilizando um design de arrefecimento avançado, permitindo um fornecimento de potência significativa, na unidade de menor pegada e menor peso disponível no mercado.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ" id="middleJ1">
    <div class="container">
      <div class="row vcenter">
        <div class="col-xs-12 col-sm-6">
          <h1>FEITO PARA CIRURGIA</h1>
          <p>Os melhores perfumes vêm nos menores frascos e o neoV laser não é exceção. Esta pequena, portátil unidade, projetada formidavelmente, fornece um raio laser de exatos 1470nm ou uma energia poderosa de 25W 980nm para suas aplicações cirúrgicas.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="images/vascular/portability.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ" id="middleJ2">
    <div class="container">
      <div class="row vcenter">
        <div class="col-xs-12 col-sm-6">
          <img src="images/neoV02.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-6">
          <h1>O MENOR LASER DE ALTA POTÊNCIA DO MUNDO</h1>
          <p>Aproveitando a tecnologia de arrefecimento patenteada, o laser é uma fração do tamanho e peso de outros lasers cirúrgicos nos mesmos níveis de potência, proporcionando flexibilidade inigualável.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ" id="middleJ3">
    <div class="container">
      <div class="row vcenter">
        <div class="col-xs-12 col-sm-6">
          <h1>DESIGN DE EXCELÊNCIA</h1>
          <p>O neoV se destaca em termos de design e perfeição. A unidade é controlada por uma tela "touch screen" de última geração. Ajustes individuais e fibras "plug-and-play" patenteadas vão lhe poupar um tempo precioso.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="images/neoV03.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ" id="lastJ">
    <div class="container">
      <h1 class="text-center">SAIBA MAIS</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <a ui-sref="app.neoV980"><div class="btn-simple">
            <h3>NEO V980</h3>
          </div></a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a ui-sref="app.neoV1470"><div class="btn-simple">
            <h3>NEO V1470</h3>
          </div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <a ui-sref="app.treatments"><div class="btn-simple">
            <h3>NOVAS ALTERNATIVAS DE TRATAMENTO</h3>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
