<div id="aboutWrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center sliderYb slide-bottom" style="font-family: 'Playfair Display SC', serif;font-size:72px;border-top:0;">
      Neolaser Latinoamérica
      </h1>
      <hr style="border-color:#ddd;margin-top:0;">
      <hr>
    </div>
    <br><br>
    <div class="row vcenter">
      <div class="col-xs-12 col-sm-3">
        <h1 class="fadein" style="font-size:30px;">LLEGA A LATINOAMÉRICA, NEOLASER</h1>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p class="sliderXl slide-left">Neolaser es líder mundial en diseño, Ingeniería y fabricación de sistemas láser para medicina y cirugía, ofreciendo excelente calidad y diseño a nivel internacional, proporcionando excelente desempeño y funcionalidad, flexibilidad y organización modular. Todo eso a costo muy accesible.</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-2">
        <h1 class="text-center fadein">ALTO NIVEL</h1>
        <p class="sliderYt slide-top">Neolaser Latinoamérica anhela comercializar tecnología de diodo láser de alto nivel para varios asociados, teniendo reconocida su excelencia en salud, calidad y tecnología. De esta forma, buscamos preservar el éxito internacional también en los países de Latinoamérica.</p>
      </div>
    </div>

    <br><br>

    <div class="row vcenter">
      <div class="col-xs-12 col-sm-4">
        <h1 class="text-center fadein">VARIADOS TIPOS DE APLICACIONES</h1>
        <p class="sliderYt slide-top">Los productos da Neolaser soportan a una gran variedad de aplicaciones, incluso cirugías proctológicas y endo-vasculares como la cirugía de columna y otorrinolaringología. Llevamos a cabo ventas por medio de los dos distribuidores regionales y asociados de alto nivel seleccionados.</p>
      </div>
      <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <div class="row vcenter">
          <div class="col-xs-12 col-sm-5">
            <h1 class="fadein text-right" style="font-size:30px;">EMPRESA COM CERTIFICACIÓN</h1>
          </div>
          <div class="col-xs-12 col-sm-7">
            <p class="sliderXl slide-left">La empresa cuenta con certificación ISO13485, actúa en conformidad con la GMP, detiene marca CE, y también es aprobada FDA para sus sistemas láser-médico de alto desempeño, y actualmente está creciendo globalmente, con representación y productos en más de 30 países y cuatro continentes.</p>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br>

    <div class="row vcenter">
      <div class="col-xs-12 col-sm-7">
        <h1 class="text-center fadein" style="font-size:32px;">SERVICIO DE APOYO Y ORIENTACIÓN</h1>
        <p class="sliderYt slide-top">Somos una propuesta de negocio para nuestros asociados, no solo la venta de un producto de primera categoría sino también un servicio de apoyo y orientación completo que hará toda la diferencia para garantizar el éxito esperado na implementación de Neolaser Latinoamérica. Para eso, tenemos un equipo de expertos de los más diversificados segmentos de que ocupa Neolaser, los cuales estarán disponibles para cualquier duda o aclaraciones. <a ui-sref="app.contact">Nuestro canal para comunicación</a> con nuestros asociados también es una de las grandes ventajas de nuestro trabajo.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <h1 class="fadein">BIENVENIDO A NEOLASER LATINOAMÉRICA!</h1>
      </div>
    </div>

    <br><br><br>

    <div class="row vcenter" id="aboutFooter">
      <div class="col-xs-12 col-sm-2">
        <img src="images/neolaser-logo.png" class="img-responsive"/>
      </div>
      <div class="col-xs-12 col-sm-3">
        <address>Av. João Cabral de Mello Neto, 850, sl. 222<br>
        Barra da Tijuca<br>
        Rio de Janeiro, RJ, Brazil</address>
        <p>Tel: +55 21 2289-1210<br>
        E-mail: contato@neolaserlatam.com
        </p>
      </div>
    </div>

    <br><br><br>
  </div>
</div>
