<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Treatments</a></li>
  <li class="breadcrumb-item active">Related Articles</li>
</ol>
<div id="articlesWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="jumbotron topJ">
    <div style="padding:20px;">
      <h1 class="text-center">Related Articles</h1>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#PLDDarticles" ng-click="plusSignJ1 = !plusSignJ1">
          <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;PLDD <small ng-class="plusSignJ1 ? 'clickToHide' : 'clickToExpand'"></small></h3>
        </div>
        <div id="PLDDarticles" class="collapse marginJ inner">
          <!-- toggleable content -->
          <div ng-repeat="file in plddfiles">
            <div class="col-xs-12 col-sm-6">
              <div class="media">
                <div class="media-left media-top">
                  <a ng-href="{{file.path}}" download>
                    <i class="fa fa-download fa-3x"></i>
                  </a>
                </div>
                <div class="media-body">
                  <a ng-href="{{file.path}}" download>
                    <h4 class="media-heading">
                      {{file.title | uppercase}}
                    </h4>
                  </a>
                  <p style="margin-bottom:0;"><strong>Authors:</strong> {{file.authors}}</p>
                  <p><strong>Date:</strong> {{file.date}}</p>
                  <br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#ENTarticles" ng-click="plusSignJ2 = !plusSignJ2">
          <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;ENT <small ng-class="plusSignJ2 ? 'clickToHide' : 'clickToExpand'"></small></h3>
        </div>
        <div id="ENTarticles" class="collapse marginJ inner">
          <!-- toggleable content -->
          <div ng-repeat="file in entfiles">
            <div class="col-xs-12 col-sm-6">
              <div class="media">
                <div class="media-left media-top">
                  <a ng-href="{{file.path}}" download>
                    <i class="fa fa-download fa-3x"></i>
                  </a>
                </div>
                <div class="media-body">
                  <a ng-href="{{file.path}}" download>
                    <h4 class="media-heading">
                      {{file.title | uppercase}}
                    </h4>
                  </a>
                  <p style="margin-bottom:0;"><strong>Authors:</strong> {{file.authors}}</p>
                  <p><strong>Date:</strong> {{file.date}}</p>
                  <br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#PROCTOarticles" ng-click="plusSignJ3 = !plusSignJ3">
          <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;PROCTOLOGY <small ng-class="plusSignJ3 ? 'clickToHide' : 'clickToExpand'"></small></h3>
        </div>
        <div id="PROCTOarticles" class="collapse marginJ inner">
          <!-- toggleable content -->
          <div ng-repeat="file in proctofiles">
            <div class="col-xs-12 col-sm-6 file">
              <div class="media">
                <div class="media-left media-top">
                  <a ng-href="{{file.path}}" download>
                    <i class="fa fa-download fa-3x"></i>
                  </a>
                </div>
                <div class="media-body">
                  <a ng-href="{{file.path}}" download>
                    <h4 class="media-heading">
                      {{file.title | uppercase}}
                    </h4>
                  </a>
                  <p style="margin-bottom:0;"><strong>Authors:</strong> {{file.authors}}</p>
                  <p><strong>Date:</strong> {{file.date}}</p>
                  <br/><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
