<div id="homeWrapper">
  <div class="jumbotron">
    <div id="inicioCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div id="firstSlide" class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-1">
                <h1>CONVIÉRTASE EN UN<br>DISTRIBUIDOR</h1>
                <p>Conviértase en un distribuidor autorizado y representa los productos Neolaser en América Latina!</p>
                <a type="button" class="btn btn-lg btn-success" ui-sref="app.distributors">Haga Clic Aquí</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div id="secondSlide" class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-5">
                <h1>SISTEMAS DE CIRUGÍA LÁSER</h1>
                <p>Ofrecemos calidad de primera categoría y diseño de alto nivel, proporcionando excelencia de rendimiento y funcionalidad, flexibilidad y organización modular. Todo eso a un precio muy accesible.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#inicioCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#inicioCarousel" data-slide-to="1"></li>
      </ol>
    </div>
  </div>
  <div class="container">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.PLDD"><img src="images/back-nobg.png" alt="PLDD"></a>
              </div>
              <h4>PLDD</h4>
              <p class="col-sm-10 col-sm-offset-1">Tratamiento para los dolores de espalda resultantes de hernia de disco. <a ui-sref="app.PLDD">Ver más...</a></p>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.EVLA"><img src="images/knee-blackNgreen.png" alt="EVLA" class=""></a>
              </div>
              <h4>EVLA</h4>
              <p class="col-sm-10 col-sm-offset-1">Tratamiento para varices.<br><a ui-sref="app.EVLA">Ver más...</a></p>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.ENT"><img src="images/ENT-nobg.png" alt="ENT" class=""></a>
              </div>
              <h4>ENT</h4>
              <p class="col-sm-10 col-sm-offset-1">Cavidad oral, glótica, nasal, faríngea e procedimientos otológicos. <a ui-sref="app.ENT">Ver más...</a></p>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.proctology"><img src="images/proctology-transparent.png" alt="Proctology" class=""></a>
              </div>
              <h4>PROCTOLOGÍA</h4>
              <p class="col-sm-10 col-sm-offset-1">Nueva opciones de tratamiento!<br><a ui-sref="app.proctology">Ver más...</a></p>
            </div>
          </div><!--/row-->
        </div><!--/item-->
        <div class="item">
          <div class="row">
            <div class="col-sm-4 col-xs-4 col-sm-offset-2 col-sm-offset-2">
              <div class="img-wrapper">
                <a ui-sref="app.products"><img src="images/smallest-machine.png" alt="Image" class="img-responsive"></a>
              </div>
              <h4>DISEÑO MUNDIALMENTE RECONOCIDO.</h4>
              <p class="col-sm-10 col-sm-offset-1">El más sutil, ligero y más portátil sistema láser en su línea de potencia. Conoce más del neoV láser.</p>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.about"><img src="images/neolaser-logo.png" alt="NEO V980" class="center-block img-responsive"></a>
              </div>
              <h4>QUIENES SOMOS</h4>
              <p class="col-sm-10 col-sm-offset-1">Conoce a Neolaser Latinoamérica<br><a ui-sref="app.about">Ver más...</a></p>
            </div>
          </div><!--/row-->
        </div><!--/item-->
      </div><!--/carousel-inner-->
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <i class="fa fa-chevron-left fa-2x" aria-hidden="true" id="right-i"></i>
      </a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
