<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Inicio</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.products">Nuestros Productos</a></li>
  <li class="breadcrumb-item active">neoV 1470</li>
</ol>
<div id="neoVWrappers" class="sliderYp slide-page">
  <div class="jumbotron topJ">
    <div class="container">
      <div class="row">
        <h1 class="text-center">NEOV 1470</h1>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="images/neoV01.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-7">
          <p>O neoV 1470 es un instrumento microquirúrgico excelente para la ablación endovenosa por láser de las venas, como también para la incisión y escisión de tejido blando en áreas más críticas. El alto de la absorción del agua en 1470nm permite que el corte sea preciso con buena coagulación del tejido blando. Como resultado de esta inigualable absorción de tejido, los procedimientos pueden ser finalizados en dosificaciones de energía más bajas, llevando a un menor trauma térmico y mejor curación. <a ui-sref="app.contact"><strong>Contáctanos para más informaciones acerca de esta unidad.</strong></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#treatment" ng-click="plusSignJ1 = !plusSignJ1">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ1 ? 'fa-minus' : 'fa-plus'"></i>&emsp;TRATAMIENTOS</h3>
        </div>
        <ul id="treatment" class="collapse marginJ">
          <li>Lesiones Vasculares</li>
          <li>Ablación Endovenosa</li>
          <li>Proctología</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ2 = !plusSignJ2">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ2 ? 'fa-minus' : 'fa-plus'"></i>&emsp;BENEFICIOS</h3>
        </div>
        <div id="benefits" class="collapse">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Precisión Quirúrgica</th>
                <td>El neoV 1470 produce energía a 1470nm, una extensión de ola sin igual, teniendo su alto de absorción del agua en tejidos blandos. Luego, la energía se convierte en calor inmediatamente encima de la superficie del tejido, para una ablación y corte precisos.</td>
              </tr>
              <tr>
                <th scope="row">Hasta 10 Watts de Potencia</th>
                <td>El neoV 1470 proporciona hasta 10 Watts de energía a 1470nm desde la punta de la fibra. Combinado con alta absorción en tejido blando, el neoV 1470 es un instrumento de corte e coagulación poderoso para múltiples procedimientos.</td>
              </tr>
              <tr>
                <th scope="row">Diseño Único</th>
                <td>El sistema láser neoV 1470 es el único sistema del mercado a traer la potencia en la salida de la fibra de 10 Watts en una configuración tan pequeña, ligera, sutil y portátil, aprovechando su tecnología de enfriamiento patentada. Con sus habilidades formidables, el neoV 1470 representa la próxima generación de excelencia en láser diseño.</td>
              </tr>
              <tr>
                <th scope="row">Calidad de primera categoría</th>
                <td>Todos componentes que comprenden al neoV 1470 son de excelente calidad, desde su material exterior hecho en aluminio completo, hasta el corazón de la unidad &ndash; el diodo láser.</td>
              </tr>
              <tr>
                <th scope="row">Fácil Utilización</th>
                <td>El interfaz del usuario de neoV 1470, ofreciendo hasta 99 predefiniciones, y equipado con ajustes previamente programados especiales para tratamiento endo-vascular, ofrece una interfaz clara y sencilla.</td>
              </tr>
              <tr>
                <th scope="row">Valor</th>
                <td>El neoV 1470, con sus características únicas y diseño de excelencia, ofrece un excelente valor para sus aplicaciones quirúrgicas.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#features" ng-click="plusSignJ3 = !plusSignJ3">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ3 ? 'fa-minus' : 'fa-plus'"></i>&emsp;FUNCIONES Y VENTAJAS</h3>
        </div>
        <div id="features" class="collapse">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Función Clave</th>
                <th>Diseño</th>
                <th>Fácil Utilización</th>
                <th>Aplicaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Extensión de Ola 1470 nm</td>
                <td>Diseño de Alto Nivel</td>
                <td>Pantalla de colores, <em>"touch"</em>, grande, de alto brillo</td>
                <td>Alta absorción del agua</td>
              </tr>
              <tr>
                <td>10 Watts de Potencia</td>
                <td>22cm &times; 22cm &times; 10cm</td>
                <td>Fácil conexión de la fibra</td>
                <td>Eficaz y Segura</td>
              </tr>
              <tr>
                <td>Emisión circular, bulbo o fibra desnuda</td>
                <td>Peso tan solo 3,5 kg</td>
                <td>99 opciones quirúrgicas predefinidas</td>
                <td>Mínimo daño colateral térmico</td>
              </tr>
              <tr>
                <td>Kit introductorio completo</td>
                <td>Precio accesible</td>
                <td>Portabilidad</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#applications" ng-click="plusSignJ4 = !plusSignJ4">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ4 ? 'fa-minus' : 'fa-plus'"></i>&emsp;APLICACIONES CLÍNICAS</h3>
        </div>
        <div id="applications" class="collapse">
          <div class="row marginJ">
            <div class="col-xs-12 col-sm-6">
              <h4><a ui-sref="app.proctology">Proctología</a></h4>
              <p>El neoV 1470, con la sonda CORONA para fístulas, es un producto único optimizado para tratamientos de fístula del ano. La fibra proporciona emisión circular a través de una punta fina de vidrio fundido y, por su vez, facilita el encerramiento con daños colaterales mínimos para allá de la pared de la fístula. Los procedimientos ofrecen tratamiento seguro y eficiente, salvando al músculo esfíncter, y sin cualquier riesgo de incontinencia a largo plazo.</p>
              <p>El neoV 1470, con la sonda CORONA para hemorroides, es un producto exclusivo optimizado para tratamientos de los hemorroides grados 2-4. La fibra tiene una punta de vidrio cónico diseñada, proporcionando fácil punción y entrada en la pila hemorroidal. La emisión es frontal y lateral, amplia y radialmente uniforme, permitiendo la obliteración eficiente de los vasos de alimentación. La fibra es equipada con un adaptador Touhy-Borst que permite la conexión a una cánula de especialidad para fácil manipulación y aplicación.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4><a ui-sref="app.EVLA">Tratamiento Endovenoso (EVLA)</a></h4>
              <p>El diodo láser neoV 1470 ofrece extensión de ola único con desempeño superior para ablación de venas enfermas. En contraste con las generaciones anteriores de terapia láser con penetración profunda del tejido, la extensión de ola 1470nm es altamente absorbido por el agua en el tejido. Como resultado, la producción de calor es altamente centralizada y la aplicación es segura y precisa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#specs" ng-click="plusSignJ5 = !plusSignJ5">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ5 ? 'fa-minus' : 'fa-plus'"></i>&emsp;ESPECIFICACIONES</h3>
        </div>
        <div id="specs" class="collapse">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Especificaciones del neoV 1470</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">Extensión de ola del láser</th>
                    <td>1,470 nm</td>
                  </tr>
                  <tr>
                    <th scope="row">Display/Control</th>
                    <td>Pantalla de colores <em>"touch"</em></td>
                  </tr>
                  <tr>
                    <th scope="row">Output Power (Láser)</th>
                    <td>12 W</td>
                  </tr>
                  <tr>
                    <th scope="row">Rayo de luz dirigido</th>
                    <td>532 nm o 650nm, ajustable</td>
                  </tr>
                  <tr>
                    <th scope="row">Conexión de la Fibra</th>
                    <td>Patentada</td>
                  </tr>
                  <tr>
                    <th scope="row">Modos de operación</th>
                    <td>Ola continua, Pulsante</td>
                  </tr>
                  <tr>
                    <th scope="row">Requisitos previos de Energía</th>
                    <td>19 VDC, 4.7 A</td>
                  </tr>
                  <tr>
                    <th scope="row">Dimensiones(A &times; A &times; L)</th>
                    <td>10 &times; 22 &times; 22 (cm)</td>
                  </tr>
                  <tr>
                    <th scope="row">Peso (fuera de la caja)</th>
                    <td>3,5 kg</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Fiber &amp; Kits</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">CORONA 360</th>
                    <td>Emisión circular, 3m, 600&mu;m, con demarcación</td>
                  </tr>
                  <tr>
                    <th scope="row">Kit Butterfly 400</th>
                    <td>Punta del bulbo, 2.6m, 400&mu;m, hilo guía, aguja, introductor con demarcación de profundidad 70cm/100cm</td>
                  </tr>
                  <tr>
                    <th scope="row">Kit Butterfly 600</th>
                    <td>Punta del bulbo, 2.6m, 600&mu;m, hilo guía, aguja, introductor con demarcación de profundidad 70cm/100cm</td>
                  </tr>
                  <tr>
                    <th scope="row">Fibra Estándar</th>
                    <td>desnuda, 2.6m 400&mu;m</td>
                  </tr>
                  <tr>
                    <th scope="row">Fibra Estándar</th>
                    <td>desnuda, 2.6m 600&mu;m</td>
                  </tr>
                  <tr>
                    <th scope="row">Introductor CORONA 360</th>
                    <td>Hilo Guia 65cm, aguja 20G, revestimiento 6F</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ">
    <div class="container">
      <h1 class="text-center">VEA TAMBIÉN</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <a ui-sref="app.products"><div class="btn-simple">
            <h3>OTROS PRODUCTOS</h3>
          </div></a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a ui-sref="app.neoV980"><div class="btn-simple">
            <h3>NEO V980</h3>
          </div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <a ui-sref="app.treatments"><div class="btn-simple">
            <h3>NUEVAS ALTERNATIVAS DE TRATAMIENTO</h3>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
