<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Inicio</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.products">Nuestros Productos</a></li>
  <li class="breadcrumb-item active">neoV 980</li>
</ol>
<div id="neoVWrappers" class="sliderYp slide-page">
  <div class="jumbotron topJ">
    <div class="container">
      <div class="row">
        <h1 class="text-center">NEOV 980</h1>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="images/neoV02.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-7">
          <p>NeoV 980 es una herramienta quirúrgica de vanguardia y alta calidad, sin límites, destinada a una gran variedad de aplicaciones clínicas. La extensión de ola de 980nm, con casi igual absorción del agua y de la sangre, juntamente con la mayor tasa de transferencia de energía de la plataforma NeoV, lo que permite tratamientos eficientes y con seguridad. <a ui-sref="app.contact"><strong>Contáctanos para saber más informaciones acerca de esta unidad altamente resistente.</strong></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#treatment" ng-click="plusSignJ1 = !plusSignJ1">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ1 ? 'fa-minus' : 'fa-plus'"></i>&emsp;TRATAMIENTOS</h3>
        </div>
        <ul id="treatment" class="collapse marginJ">
          <li>ENT &ndash; Oídos, nariz y garganta</li>
          <li>PLDD</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ2 = !plusSignJ2">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ2 ? 'fa-minus' : 'fa-plus'"></i>&emsp;BENEFICIOS</h3>
        </div>
        <div id="benefits" class="collapse">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Alta Potencia</th>
                <td>NeoV 980 es un potente láser de cirugía y estética con hasta 20W de potencia de salida desde la punta de la fibra. Forneciendo energía de alta potencia por medio de instrumentos de precisión y fibra óptica, las unidades fornecen energía suficiente para una gran variedad de aplicaciones de alto valor, permitiendo una utilización segura, precisa y eficiente.</td>
              </tr>
              <tr>
                <th scope="row">Calidad y Design Formidable</th>
                <td>NeoV 980 es el menor sistema de su clase de potencia. Utilizando tecnología de enfriamiento patentada, la unidad es una fracción del tamaño y peso de sistemas semejantes, lo que ofrece portabilidad incomparable. Con su exterior hecho de metal aluminio y competencias formidables, el neoV 980 representa a la próxima generación de excelencia en diseño láser.</td>
              </tr>
              <tr>
                <th scope="row">Múltiples Aplicaciones Clínicas</th>
                <td>El neoV 980, con salida de alta potencia a 980nm, es una herramienta clínica de múltiple función debido a su casi igual absorción de esa extensión de ola, tanto en el agua como en la sangre. Como resultado, el neoV 980 puede ser utilizado de forma eficiente para el corte de precisión, pero también para coagulación de los vasos para hemostasia. Por esa razón, el neoV 980 soporta una gran variedad de aplicaciones clínicas, de las estéticas hasta quirúrgicas.</td>
              </tr>
              <tr>
                <th scope="row">Herramientas Quirúrgicas Versátiles</th>
                <td>El neoV 980 soporta a una alta variedad de potenciales sistemas de distribución de fibras y también de piezas de mano. El láser puede ser ligado a fibras quirúrgicas de precisión de 300 micras núcleo, por medio de piezas de mano quirúrgicas con puntas de acero modulares inoxidables. Para la utilización estética, puede ser fornecido por medio de una fibra dual conector reutilizable a través de piezas de mano de enfoque preciso, proporcionando tamaños de punto 0,25 milímetros y más.</td>
              </tr>
              <tr>
                <th scope="row">Valor</th>
                <td>El neoV 980, con tasa de transferencia de alta potencia, diseño de primera categoría, flexibilidad clínica completa en potenciales aplicaciones, y sin necesidad de mantenimiento continuo, ofrece un valor único para nuestros clientes desde hace muchos años.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#features" ng-click="plusSignJ3 = !plusSignJ3">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ3 ? 'fa-minus' : 'fa-plus'"></i>&emsp;FUNCIONES &amp; VENTAJAS</h3>
        </div>
        <div id="features" class="collapse">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Principales Características</th>
                <th>Diseño</th>
                <th>Fácil de Utilizar</th>
                <th>Valor Único</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Extensión de Ola 980nm</td>
                <td>Diseño de excelencia</td>
                <td>Pantalla <em>"touchscreen"</em> grande, a colores, de alto brilho</td>
                <td>Funciones de seguridad mejoradas</td>
              </tr>
              <tr>
                <td>Hasta 20W al 980 de la cabeza del láser</td>
                <td>22cm &times; 22cm &times; 10cm</td>
                <td>Interfaz del usuario intuitiva</td>
                <td>Alta confiabilidad y mantenimiento reducido</td>
              </tr>
              <tr>
                <td>Fibras de 300&mu;m hasta 600&mu;m</td>
                <td>Pesa solo 3,5Kg</td>
                <td>Conexión de las fibras <em>"plug and play"</em></td>
                <td>Portabilidad</td>
              </tr>
              <tr>
                <td>Indicaciones en ENT y PLDD</td>
                <td>Veliz personalizado para transporte</td>
                <td>Configuración rápida con predefiniciones</td>
                <td>Enchufe estándar</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Raio de luz dirigido verde para facilitar la puntería</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#applications" ng-click="plusSignJ4 = !plusSignJ4">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ4 ? 'fa-minus' : 'fa-plus'"></i>&emsp;APLICACIONES CLÍNICAS</h3>
        </div>
        <div id="applications" class="collapse">
          <div class="row marginJ">
            <div class="col-xs-12 col-sm-6">
              <h4>Descompresión Percutánea Discal Con Láser (PLDD)</h4>
              <p>En el tratamiento ortopédico de hernia de disco, el neoV 980 permite procedimientos PLDD. La energía del láser se emite por una fibra a través de una aguja hueca, que evapora el contenido del agua en el tejido reduciendo la presión y, con eso, aliviando al dolor de espalda.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>ENT &ndash; Oídos, nariz y garganta</h4>
              <p>En ENT, el láser es perfecto para la cirugía nasal incluyendo pólipos, quistes y tratamiento de septo. Aplicación oral para amigdalectomía, glosectomía, lesiones orales, y uvuloplastia es recomendada, bien como para lesiones laríngeas, sub-glóticas, incluyendo tratamientos en consultorio. Se ofrece un kit especial para el tratamiento de dacriocistorrinostomia (DCR).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#specs" ng-click="plusSignJ5 = !plusSignJ5">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ5 ? 'fa-minus' : 'fa-plus'"></i>&emsp;ESPECIFICACIONES</h3>
        </div>
        <div id="specs" class="collapse">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Especificaciones del neoV 980</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">Extensión de Ola del Láser</th>
                    <td>980 nm</td>
                  </tr>
                  <tr>
                    <th scope="row">Display/Control</th>
                    <td>Pantalla de colores sensible al toque</td>
                  </tr>
                  <tr>
                    <th scope="row">Output Power (Láser)</th>
                    <td>28 W</td>
                  </tr>
                  <tr>
                    <th scope="row">Rayo de luz dirigido</th>
                    <td>532nm o 650nm, ajustable</td>
                  </tr>
                  <tr>
                    <th scope="row">Conexión de Fibra</th>
                    <td>Patentada</td>
                  </tr>
                  <tr>
                    <th scope="row">Modos de Operación</th>
                    <td>Ola continua, pulsante</td>
                  </tr>
                  <tr>
                    <th scope="row">Requisitos previos de Energía</th>
                    <td>19 VDC, 4,7 A</td>
                  </tr>
                  <tr>
                    <th scope="row">Dimensiones (Alto &times; Ancho &times; Largo)</th>
                    <td>10 &times; 22 &times; 22 (cm)</td>
                  </tr>
                  <tr>
                    <th scope="row">Peso (fuera de la caja)</th>
                    <td>3,5 kg</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Fibras y Kits</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">Fibra desnuda</th>
                    <td>2,6, 300/400/600 &mu;m</td>
                  </tr>
                  <tr>
                    <th scope="row">Sondas de Otología</th>
                    <td>2.6, 300&mu;m, Sondas Largas/Cortas</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA 90</th>
                    <td>Fibra de disparo lateral, 600&mu;m, 1.8 OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA GC</th>
                    <td>Enfriamiento por gas, 600&mu;m, 1.8mm OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA CD</th>
                    <td>Difusor cilíndrico, 600&mu;m, 1.6mm OD 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA 360</th>
                    <td>Emisión Radial, 600&mu;m, 1.8mm OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">Kit DCR</th>
                    <td>Pieza de mano con 2 cánulas, bandeja de esterilización</td>
                  </tr>
                  <tr>
                    <th scope="row">Intubación DCR</th>
                    <td>Conjunto de intubación, silicón, utilización única, estéril</td>
                  </tr>
                  <tr>
                    <th scope="row">Piezas de mano</th>
                    <td>Acero inoxidable, varios tamaños</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ">
    <div class="container">
      <h1 class="text-center">VEA TAMBIÉN</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <a ui-sref="app.products"><div class="btn-simple">
            <h3>OTROS PRODUCTOS</h3>
          </div></a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a ui-sref="app.neoV1470"><div class="btn-simple">
            <h3>NEO V1470</h3>
          </div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <a ui-sref="app.treatments"><div class="btn-simple">
            <h3>NUEVAS ALTERNATIVAS DE TRATAMIENTO</h3>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
