<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Treatments</a></li>
  <li class="breadcrumb-item active">Percutaneous Laser Disc Decompression (PLDD)</li>
</ol>
<div id="plddWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="pldd-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">DESCOMPRESIÓN PERCUTÁNEA DISCAL POR LÁSER</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/back-nobg.png" class="img-responsive pull-right" style="max-height:450px;">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">PLDD es un tratamiento mínimamente invasivo que utiliza de la energía del láser para aliviar dolores de espalda y cuello ocasionadas por hernia de disco.</p>
              <div id="last" class="collapse">
                <p class="text-justify">Una fibra láser es inserida a través de una pequeña aguja en el disco herniado bajo anestesia local. Efectos térmicos provocados por la energía del láser llevan al efecto terapéutico esperado.
                </p>
                <p class="text-justify">
                  El procedimiento puede ser realizado en ambulatorio y no deja cicatriz, eliminando posibles complicaciones derivadas de la cirugía abierta y más radical.
                </p>
                <p class="text-justify">
                  La plataforma NeoV, juntamente al conjunto PLDD de Neolaser, es la solución perfecta para sus casos PLDD.
                </p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#procedure" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;EL PROCEDIMIENTO</h3>
            </div>
            <div id="procedure" class="collapse marginJ">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-4">
                  <img src="images/pldd/backG.png" class="img-responsive"/>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <p class="text-justify">
                    El principio del tratamiento de PLDD se basa en el concepto de que el disco intervertebral es un sistema hidráulico cerrado. Ese sistema consiste en el núcleo pulposo, que contiene una gran cantidad de agua rodeado por el anillo fibroso inelástico. Un aumento en el contenido de agua del núcleo pulposo lleva a un aumento desproporcional de presión intra-discal.
                  </p>
                  <p class="text-justify">
                    La reducción de la presión intra-discal hace con que el material del disco herniado retire en la dirección del centro del disco, conduciendo así a la reducción de la compresión de la raíz nerviosa y alivio del dolor radicular. En PLDD, ese mecanismo es explorado por la aplicación de energía láser a fin de evaporar el agua en el núcleo pulposo.
                  </p>
                  <p class="text-justify">
                    La energía del láser es emitida por una fibra láser a través de una aguja hueca puesta en el núcleo pulposo. La aguja es inserida en el disco intervertebral bajo anestesia local. A parte de la evaporación del agua, el aumento de la temperatura también causa desnaturalización seguida de re-naturalización de proteínas. Eso provoca una alteración estructural del núcleo pulposo, limitando a su capacidad de atraer el agua y, por lo tanto, llevando a la reducción permanente de la presión intra-discal.
                  </p>
                  <p class="text-justify">
                    <a ui-sref="app.neoV1470" target="_blank"><strong>El láser 1470nm</strong></a>, debido a su alto de absorción del agua, permite una aplicación más exacta y localizada de calor durante la aplicación, el que permite la ablación exacta del abombamiento en el disco, lo que es altamente benéfico.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;BENEFICIOS</h3>
            </div>
            <div id="benefits" class="collapse marginJ inner">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Técnica Mínimamente Invasiva</th>
                    <td>PLDD es una técnica mínimamente invasiva para tratamiento del dolor de espalda resultante de hernia de disco. Los principales beneficios de este procedimiento incluyen tratamiento bajo anestesia local, recuperación rápida y menor riesgo comparado a acciones más invasivas. A parte de eso, el costo del tratamiento es minimizado y optimizado.</td>
                  </tr>
                  <tr>
                    <th scope="row">Fornecimiento de Energía Ideal</th>
                    <td>La energía láser es fornecida al tejido objetivo por medio de una fibra personalizada con revestimiento fino especial. La fibra es enroscada, sea a través de una aguja de 18G o 20G, dependiendo de la preferencia del médico.</td>
                  </tr>
                  <tr>
                    <th scope="row">Configuraciones previas PLDD</th>
                    <td>La plataforma NeoV viene equipada con configuraciones previas PLDD que son basadas en extensiva experimento clínico. El láser permite operación pulsada, permitiendo relajamiento del tejido y disipación del calor entre pulsos consecutivos.</td>
                  </tr>
                  <tr>
                    <th scope="row">Portabilidad</th>
                    <td>El neoV es la unidad PLDD más portátil en el mercado. Con solo 3,5 kg y un veliz de alta calidad personalizado para transporte, pode ser utilizado en varias clínicas y auxiliar procedimientos en diversos locales.</td>
                  </tr>
                  <tr>
                    <th scope="row">Valor</th>
                    <td>La plataforma neoV ofrece el mejor valor en el mercado para tratamientos PLDD a través de un diseño exclusivo, calidad, portabilidad y desempeño de primera categoría.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#kits" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;FIBRA Y ACCESORIOS</h3>
            </div>
            <div id="kits" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/pldd/kitL.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/pldd/kitR.png" class="img-responsive"/>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                  <p class="text-justify">
                    El kit Neolaser PLDD incluye todo lo que necesitas para un procedimiento PLDD o denervación segura, eficiente y mínimamente invasiva. El kit estéril incluye una fibra desnuda de 400 micron con revestimiento de protección, dos tamaños de agujas (20G e 18G) para su preferencia de entrada, y un conector en "Y" permitiendo entrada y succión de la fibra. El conector y las agujas llegan en embalajes individuales para permitir el máximo de flexibilidad en el tratamiento.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#wavelength" ng-click="plusSignJ4 = !plusSignJ4">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;INTERACCIÓN Y EXTENSIÓN DE OLA A TU ELECCIÓN</h3>
            </div>
            <div id="wavelength" class="collapse marginJ">
              <div class="container">
                <div class="row vcenter">
                  <div class="col-xs-12 col-sm-6">
                    <img src="images/pldd/wavelength.png" class="img-responsive" style="background:white;"/>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p class="text-justify">El láser neoV viene en dos versiones &ndash; la de 980nm y la de 1470nm.</p>
                    <p class="text-justify"><a ui-sref="app.neoV980"><strong>El láser de 980nm</strong></a> es una poderosa herramienta para vaporización y, generalmente, para cirugías rápidas.
                    </p>
                    <p class="text-justify"><a ui-sref="app.neoV1470"><strong>El láser de 1470nm</strong></a> de absorción en el agua significativamente mayor, fornece un instrumento de precisión superior para cirugías reincidentes, reduciendo los daños colaterales alrededor de las estructuras críticas.</p>
                    <p class="text-justify">
                      Cualquier que sea su necesidad quirúrgica, la plataforma neoV es la solución.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#articles" ng-click="plusSignJ7 = !plusSignJ7">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ7 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;ARTÍCULOS RELACIONADOS</h3>
            </div>
            <div id="articles" class="collapse marginJ inner">
              <!-- toggleable content -->
              <div ng-repeat="file in plddfiles">
                <div class="col-xs-12 col-sm-6">
                  <div class="media">
                    <div class="media-left media-top">
                      <a ng-href="{{file.path}}" download>
                        <i class="fa fa-download fa-3x"></i>
                      </a>
                    </div>
                    <div class="media-body">
                      <a ng-href="{{file.path}}" download>
                        <h4 class="media-heading">
                          {{file.title | uppercase}}
                        </h4>
                      </a>
                      <p style="margin-bottom:0;"><strong>Authors:</strong> {{file.authors}}</p>
                      <p><strong>Date:</strong> {{file.date}}</p>
                      <hr>
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#videos" ng-click="plusSignJ6 = !plusSignJ6">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ6 ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&emsp;<i class="fa fa-youtube-play" style="color:inherit;background:inherit;opacity:1.0;"></i>VIDEOS RELACIONADOS</h3>
            </div>
            <div id="videos" class="collapse in marginJ inner">
              <!-- toggleable content -->
              <div class="row">
                <h4 class="text-center"><strong>neoV Laser PLDD Treatment</strong></h4>
                <hr>
                <div class="col-xs-12 col-sm-6">
                  <div class="iframe-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Lv1BcTLq0is" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <p style="margin-top:12px;"><a href="https://youtu.be/Lv1BcTLq0is" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                  </p>
                  <p><strong>Uploaded on Oct 12, 2016</strong></p>
                  <p><strong>Channel: </strong>Gil Shapira</p>
                  <p><strong>Description: </strong>
                    Treatment of herniated disc with PLDD kit and neoV laser unit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/PLDD-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD DEL INFORMATIVO
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV980">
                <div class="btn-simple">
                  <h3>
                    MÁS DEL NEOV 980
                  </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a a type="button" ui-sref="app.treatments">
                <div class="btn-simple">
                  <h3>
                    OTROS TRATAMIENTOS
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MÁS DEL NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Ir para el top
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="pldd-col-2">
      <h4><strong>NUESTROS PRODUCTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OTROS TRATAMIENTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.proctology">
        <div class="img-wrapper">
          <img src="images/procto.png">
        </div>
        <p><strong>PROCTOLOGÍA</strong><br>Fistula del ano y hemorroides</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.ENT">
        <div class="img-wrapper">
          <img src="images/ENT-nobg.png">
        </div>
        <p><strong>ENT</strong><br>Oídos, nariz y garganta</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.EVLA">
          <div class="img-wrapper">
            <img src="images/knee-blackNgreen.png">
          </div>
          <p><strong>EVLA</strong><br>Aplicaciones endo-vasculares</p>
        </a>
      </div>
    </div>
  </div>
</div>

</div>
