<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Inicio</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Tratamientos</a></li>
  <li class="breadcrumb-item active">Proctología</li>
</ol>
<div id="proctologyWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="procto-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">PROCTOLOGÍA</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/proctology-transparent.png" class="img-responsive pull-right" style="max-height:350px;">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">Condiciones proctológicas, por ejemplo, hemorroides y fístula del ano son muy prevalentes en las sociedades occidentales.</p>
              <div id="last" class="collapse">
                <p class="text-justify">
                  Existen algunas opciones de tratamiento, cada una con sus ventajas y desventajas.
                </p>
                <p class="text-justify"> La Neolaser presenta <strong>ALFA&trade;</strong> y <strong>ELITE&trade;</strong> para el tratamiento láser de fístula del ano y hemorroides de grados 3-4, respectivamente. Estas herramientas de microcirugía permiten un procedimiento seguro, libre para el esfíncter y casi sin dolor para pacientes y cirujanos.
                </p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#alfa" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;EL PROCEDIMIENTO ALFA&trade;</h3>
            </div>
            <div id="alfa" class="collapse marginJ">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-4">
                  <img src="images/proctology/fistula.png" class="img-responsive"/>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <p class="text-justify">
                    Durante un procedimiento ALFA&trade; la energía láser es fornecida, a través de una fibra óptica de emisión radial, para el trato de la fístula, siendo utilizada para extirpar térmicamente y cerrar el camino anormal. La energía del láser induce a destruición del epitelio de la fístula y obliteración simultánea del trato restante a través de un efecto de encogimiento.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#elite" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;EL PROCEDIMIENTO ELITE&trade;</h3>
            </div>
            <div id="elite" class="collapse marginJ inner">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-8">
                  En un procedimiento ELITE&trade;, la energía del láser es fornecida a través de una fibra óptica apuntada para la pila o hemorroide, y es utilizada para cerrar térmicamente las venas que nutren el crecimiento anormal. La energía del láser induce a destruición del epitelio venoso y obliteración simultánea de la hemorroide a través de un efecto de encogimiento.
                </div>
                <div class="col-xs-12 col-sm-4">
                  <img src="images/proctology/hemorrhoid.png" class="img-responsive"/>
                </div>
              </div>
              <br><br>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;BENEFICIOS</h3>
            </div>
            <div id="benefits" class="collapse marginJ inner">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Nueva Alternativa de Tratamiento</th>
                    <td>La capacidad de fornecer energía de alta potencia a través de una fibra flexible de diámetro pequeño facilita y agranda muchas opciones de tratamiento; Las principales ventajas incluyen seguridad (ALFA&trade; y ELITE&trade; son procedimientos que preservan el esfíncter), reducción del dolor, cicatrización más rápida y mejores resultados, bien como procedimientos más curtos permitiendo una mejor productividad para la clínica.</td>
                  </tr>
                  <tr>
                    <th scope="row">Fornecimiento de Energía Ideal</th>
                    <td>Tecnología de fibra patentada especial, incluyendo sonda de fístula y sonda de hemorroide CORONA para tratamiento y resultados ideales.</td>
                  </tr>
                  <tr>
                    <th scope="row">Configuraciones previas</th>
                    <td>La plataforma NeoV viene equipada con configuraciones previas, permitiendo facilidad de uso y mejor control quirúrgico. Estas incluyen configuraciones de hemorroide para asegurar una dosificación adecuada, como feedback de audio para la sincronización de la velocidad de retirada, llevando a una aplicación de la dosificación precisa y uniforme dentro de los tratos de fístula.</td>
                  </tr>
                  <tr>
                    <th scope="row">Procedimientos y Consultorio</th>
                    <td>Por su pequeño tamaño, pero alta potencia, la plataforma NeoV es la herramienta perfecta para permitir el cambio de procedimientos en el cuarto de cirugía para el consultorio. Con tan solo 3,5 kg y un veliz personalizado y de alta calidad para transporte, puede ser utilizada en varias clínicas y apoyar procedimientos en diversos sitios.</td>
                  </tr>
                  <tr>
                    <th scope="row">Valor</th>
                    <td>La plataforma NeoV ofrece el mejor valor de mercado para su clínica de proctología, a través de un diseño exclusivo, calidad, portabilidad y desempeño de alto nivel.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#articles" ng-click="plusSignJ7 = !plusSignJ7">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ7 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;ARTÍCULOS RELACIONADOS</h3>
            </div>
            <div id="articles" class="collapse marginJ inner">
              <!-- toggleable content -->
              <div ng-repeat="file in proctofiles">
                <div class="col-xs-12 col-sm-6 file">
                  <div class="media">
                    <div class="media-left media-top">
                      <a ng-href="{{file.path}}" download>
                        <i class="fa fa-download fa-3x"></i>
                      </a>
                    </div>
                    <div class="media-body">
                      <a ng-href="{{file.path}}" download>
                        <h4 class="media-heading">
                          {{file.title | uppercase}}
                        </h4>
                      </a>
                      <p style="margin-bottom:0;"><strong>Authors:</strong> {{file.authors}}</p>
                      <p><strong>Date:</strong> {{file.date}}</p>
                      <hr>
                      <br/><br/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#videos" ng-click="plusSignJ6 = !plusSignJ6">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ6 ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&emsp;<i class="fa fa-youtube-play" style="color:inherit;background:inherit;opacity:1.0;"></i>VIDEOS RELACIONADOS</h3>
            </div>
            <div id="videos" class="collapse in marginJ inner">
              <!-- toggleable content -->
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h4 class="text-center"><strong>Anal Fistula Laser Treatment with neoV Laser</strong></h4>
                  <hr>
                  <div class="col-xs-12 col-sm-6">
                    <div class="iframe-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/wKLo_DqjmoE" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:12px;"><a href="https://youtu.be/wKLo_DqjmoE" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                    </p>
                    <p><strong>Uploaded on Oct 12, 2016</strong></p>
                    <p><strong>Channel: </strong>Gil Shapira</p>
                    <p><strong>Description: </strong>
                      Treatment of anal fistula lesion with neoV1470 laser at 1470 using the CORONA Fistula Probe</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h4 class="text-center"><strong>Hemorrhoid Laser Treatment with neoV </strong></h4>
                  <hr>
                  <div class="col-xs-12 col-sm-6">
                    <div class="iframe-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/O12WDWCo9bg" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:12px;"><a href="https://youtu.be/O12WDWCo9bg" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                    </p>
                    <p><strong>Uploaded on Oct 12, 2016</strong></p>
                    <p><strong>Channel: </strong>Gil Shapira</p>
                    <p><strong>Description: </strong>
                      Treatment of hemorrhoid lesion with prolapse with the neoV1470 laser at 1470nm and with CORONA Hemorrhoid Probe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/PROCTOLOGY-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD DEL INFORMATIVO
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV980">
                <div class="btn-simple">
                  <h3>
                    MÁS DEL NEOV 980
                  </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a a type="button" ui-sref="app.treatments">
                <div class="btn-simple">
                  <h3>
                    OTROS TRATAMIENTOS
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MÁS DEL NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Ir para el top
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="procto-col-2">
      <h4><strong>OTROS PRODUCTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OTROS TRATAMIENTOS</strong></h4>
      <div class="row">
        <a ui-sref="app.ENT">
        <div class="img-wrapper">
          <img src="images/ENT-nobg.png">
        </div>
        <p><strong>ENT</strong><br>Oídos, nariz y garganta</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.EVLA">
        <div class="img-wrapper">
          <img src="images/knee-blackNgreen.png">
        </div>
        <p><strong>EVLA</strong><br>Aplicaciones Endo-vasculares</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.PLDD">
          <div class="img-wrapper">
            <img src="images/back-nobg.png">
          </div>
          <p><strong>PLDD</strong><br>Cirugía de la columna</p>
        </a>
      </div>
    </div>
  </div>
</div>
