<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Inicio</a></li>
  <li class="breadcrumb-item active">Tratamientos</li>
</ol>
<br><br>
<div id="treatmentsWrapper" class="sliderYp slide-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="jumbotron" id="evlaBox">
          <div class="row collapsed" role="button" data-toggle="collapse" href="#moreOnEVLA">
            <div class="img-wrapper">
              <img src="images/knee-blackNgreen.png"/>
            </div>
            <h2>APLICACIONES ENDO-VASCULARES</h2>
          </div>
          <div class="row collapse" id="moreOnEVLA">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.EVLA"><div class="btn-simple" role="button"><h4>VER MÁS</h4></div></a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a href="files/VASCULAR-brochure.pdf" download><div class="btn-simple" role="button"><h4><i class="fa fa-download"></i>&emsp;INFORMATIVO</h4></div></a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.neoV1470"><div class="btn-simple" role="button"><h4>NEOV 1470</h4></div></a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.contact"><div class="btn-simple" role="button"><h4>CONTÁCTANOS</h4></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="jumbotron" id="plddBox">
          <div class="row collapsed" role="button" data-toggle="collapse" href="#moreOnPLDD">
            <div class="img-wrapper">
              <img src="images/back-nobg.png"/>
            </div>
            <h2>DESCOMPRESIÓN PERCUTÁNEA DISCAL</h2>
          </div>
          <div class="row collapse" id="moreOnPLDD">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.PLDD"><div class="btn-simple" role="button"><h4>VER MÁS</h4></div></a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a href="files/PLDD-brochure.pdf" download><div class="btn-simple" role="button"><h4><i class="fa fa-download"></i>&emsp;INFORMATIVO</h4></div></a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.neoV980"><div class="btn-simple" role="button"><h4>NEOV 980</h4></div></a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.contact"><div class="btn-simple" role="button"><h4>CONTÁCTANOS</h4></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="jumbotron" id="entBox">
          <div class="row collapsed" role="button" data-toggle="collapse" href="#moreOnENT">
            <div class="img-wrapper">
              <img src="images/ENT-nobg.png"/>
            </div>
            <h2>ENT</h2>
          </div>
          <div class="row collapse" id="moreOnENT">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.ENT"><div class="btn-simple" role="button"><h4>VER MÁS</h4></div></a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a href="files/ENT-brochure.pdf" download><div class="btn-simple" role="button"><h4><i class="fa fa-download"></i>&emsp;INFORMATIVO</h4></div></a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.neoV980"><div class="btn-simple" role="button"><h4>NEOV 980</h4></div></a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.contact"><div class="btn-simple" role="button"><h4>CONTÁCTANOS</h4></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="jumbotron" id="proctoBox">
          <div class="row collapsed" role="button" data-toggle="collapse" href="#moreOnPROCTO">
            <div class="img-wrapper">
              <img src="images/proctology-transparent.png"/>
            </div>
            <h2>PROCTOLOGÍA</h2>
          </div>
          <div class="row collapse" id="moreOnPROCTO">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.proctology"><div class="btn-simple" role="button"><h4>VER MÁS</h4></div></a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a href="files/PROCTOLOGY-brochure.pdf" download><div class="btn-simple" role="button"><h4><i class="fa fa-download"></i>&emsp;INFORMATIVO</h4></div></a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.neoV1470"><div class="btn-simple" role="button"><h4>NEOV 1470</h4></div></a>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a ui-sref="app.contact"><div class="btn-simple" role="button"><h4>CONTÁCTANOS</h4></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
