<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Treatments</a></li>
  <li class="breadcrumb-item active">ENT</li>
</ol>
<div id="entWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="ent-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">ENT &ndash; Ears, Nose &amp; Throat</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/ENT-nobg.png" class="img-responsive pull-right" style="max-height:350px;">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">
                The neoV laser can be used as a precision cutting and coagulation tool for a variety of surgical applications in the fields of ENT, such as... </p>
              <div id="last" class="collapse">
                <p class="text-justify">
                  Septal deformation, polyps, cysts, mucoceles, tonsillectomy, LAUP, glossectomy, stapedotomy, DCR, cordectomy, epiglottectomy, pappiloma surgery, as well as excision of cancerous lesions.
                </p>
                <p class="text-justify">
                  Laser energy can be used to vaporize, ablate and cut soft tissue while providing lateral thermal injury capable of coagulating blood vessels.
                </p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#applications" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;POTENTIAL APPLICATIONS</h3>
            </div>
            <div id="applications" class="collapse marginJ">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-6">
                  <p class="text-justify">
                    The neoV laser system enables a wide array of surgical interventions with precision and safety. Choose either a <a ui-sref="app.neoV980"><strong>980nm</strong></a> or <a ui-sref="app.neoV1470"><strong>1470nm</strong></a> system depending on the type of applications you seek. The system can be easily used in the OR or in a clinic setting, and enables a range of power levels, from delicate work near critical structures, to rapid removal of tissue.
                  </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <table class="table table-striped table-responsive table-hover">
                    <thead><tr><th>Potential Applications</th></tr></thead>
                    <tbody>
                      <tr><td>Middle ear surgery, stapedotomy</td></tr>
                      <tr><td>Laryngeal cancer and cordectomy</td></tr>
                      <tr><td>Orapharyngeal lesions, tumor vaporization</td></tr>
                      <tr><td>Tonsillectomy</td></tr>
                      <tr><td>Glossectomy</td></tr>
                      <tr><td>Nasal septum, polyps, cysts, mucoceles</td></tr>
                      <tr><td>Subglottic stenosis and lesions</td></tr>
                      <tr><td>Tracheal stenosis and lesions</td></tr>
                      <tr><td>Laser assisted Uvulopalatoplasty</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#otology" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;OTOLOGY</h3>
            </div>
            <div id="otology" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="row" id="kits">
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/ent/ent.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/ent/fiber.png" class="img-responsive"/>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <p class="text-justify">
                    The neoV laser offers a delicate and high precision modality for inner ear treatments. By use of a special design small core fiber disposable kit, fine ablation and tissue removal can be achieved. The use of a hand-held fiber delivery system with a clearly visible aiming beam ensures safe application and high precision control of energy application.</p>
                  <p class="text-justify">
                    Neolaser offers a flexible reusable hand piece system consisting of a rigid ergonomic handpiece and various termination cannulas, or a fully disposable sterile handpiece with an integrated high precision fiber.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#accessories" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;FIBER DELIVERY AND ACCESSORIES</h3>
            </div>
            <div id="accessories" class="collapse marginJ inner">
              <div class="row vcenter" id="kits">
                <div class="row">
                  <div class="col-xs-12 col-sm-5">
                    <img src="images/ent/cannula.png" class="img-responsive"/>
                  </div>
                  <div class="col-xs-12 col-sm-7">
                    <p class="text-justify">Neolaser offers a wide and comprehensive set of surgical accessories for multiple specialties. Neolaser's modular surgical hand piece system allows you to pick and choose the size and shape of cannula matching the treated anatomy. Simply plug your cannula of choice on the ergonomic hand piece for easy access. Custom tubes can be designed upon request.</p>
                    <p class="text-justify">Additional specialty hand pieces are also available, such as the laryngeal hand pieces and the suction hand piece.</p>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-xs-12 col-sm-4 pull-right">
                  <img src="images/ent/safety.png" class="img-responsive">
                  <p>Safety accessories are also available.</p>
                </div>
              </div>
              <br><br>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#wavelength" ng-click="plusSignJ4 = !plusSignJ4">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;THE INTERACTION/WAVELENGTH OF CHOICE</h3>
            </div>
            <div id="wavelength" class="collapse marginJ">
              <div class="container">
                <div class="row vcenter">
                  <div class="col-xs-12 col-sm-6">
                    <img src="images/pldd/wavelength.png" class="img-responsive" style="background:white;"/>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p class="text-justify">Laser interaction with soft tissue depends on the wavelength of choice. The neoV laser comes in 2 versions &ndash; the 980nm and the 1470nm.</p>
                    <p class="text-justify"><a ui-sref="app.neoV980"><strong>The 980nm laser</strong></a> with equal absorption in water and blood, offers a powerful all-purpose surgical tool for incision, excision, coagulation and vaporization, as well as a high power source for rapid surgical work.
                    </p>
                    <p class="text-justify"><a ui-sref="app.neoV1470"><strong>The 1470nm laser</strong></a> with significantly higher absorption in water, provides a precision instrument for fine surgical work with reduced collateral damage around critical structures.</p>
                    <p class="text-justify">Tissue interaction can be easily manipulated by changing the distance from the tissue, from precise incision when in contact mode, to coagulation and ablation when removed from the tissue.</p>
                    <p class="text-justify">Whatever your surgical needs, the neoV platform is your solution.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ5 = !plusSignJ5">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ5 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;BENEFITS</h3>
            </div>
            <div id="benefits" class="collapse marginJ inner">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Minimally Invasive</th>
                    <td>The neoV platform enables a wide variety of minimally invasive treatments. The ability to deliver high power energy through a flexible small diameter fiber facilitates and expands many treatment options.</td>
                  </tr>
                  <tr>
                    <th scope="row">Multi Platform</th>
                    <td>Given the flexibility of fiber delivery options, as well as available surgical hand pieces, the neoV laser can be used in conjunction with every surgical platform and approach. From hand held instruments under surgical microscope visualization, through endoscopic approaches, whether rigid or flexible, including laparoscopy, to robotic channels, all options are available for safe and effective energy delivery.</td>
                  </tr>
                  <tr>
                    <th scope="row">Various Wavelengths</th>
                    <td>The neoV980 and neoV1470 offer two highly effective yet different tools for your ENT practice, driven by their different absorption in soft tissue. Accordingly, both systems cover wide options of tissue interaction, from strong and deep coagulation, to precision micro-surgical excisions.</td>
                  </tr>
                  <tr>
                    <th scope="row">Flexible Tissue Interaction</th>
                    <td>The energy, delivered through solid core fiber optics, enables work in both contact and non contact modes. Contact work provides tactile feedback and rapid cutting, while non contact mode enables vaporization and coagulation of large areas.</td>
                  </tr>
                  <tr>
                    <th scope="row">Multi Fiber Options</th>
                    <td>The neoV lasers can be delivered through a wide selection of fibers, with cores ranging from 300 to 600 microns, and with multiple options of beam emission from the tip.</td>
                  </tr>
                  <tr>
                    <th scope="row">Office Procedures</th>
                    <td>Given the small size, yet high power of the neoV platform, it is the perfect tool to allow shift of procedures from the OR to an office-based setting. You can depend that it will provide you with enough power to tackle challenging procedures in a safe and effective manner.</td>
                  </tr>
                  <tr>
                    <th scope="row">Value </th>
                    <td>The neoV platform provides the best value on the market for your ENT practice through unique design, quality, portability and state-of-the-art performance.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#videos" ng-click="plusSignJ6 = !plusSignJ6">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ6 ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&emsp;<i class="fa fa-youtube-play" style="color:inherit;background:inherit;opacity:1.0;"></i> RELATED VIDEOS</h3>
            </div>
            <div id="videos" class="collapse in marginJ inner">
              <!-- toggleable content -->
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h4 class="text-center"><strong>Stapedotomy Otology Surgery with neoV Laser</strong></h4>
                  <hr>
                  <div class="col-xs-12 col-sm-6">
                    <div class="iframe-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/kwr4oUuwAgs" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:12px;"><a href="https://youtu.be/kwr4oUuwAgs" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                    </p>
                    <p><strong>Uploaded on Oct 11, 2016</strong></p>
                    <p><strong>Channel: </strong>Gil Shapira</p>
                    <p><strong>Description: </strong>
                      Primary Stapedotomy surgery with the neoV980 laser, at the Causse Clinic, by Dr. Robert Vincent.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h4 class="text-center"><strong>980nm Diode neoLaser Turbinate Reduction</strong></h4>
                  <hr>
                  <div class="col-xs-12 col-sm-6">
                    <div class="iframe-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/EGSkBBpMx04" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:12px;"><a href="https://youtu.be/EGSkBBpMx04" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                    </p>
                    <p><strong>Uploaded on Oct 12, 2016</strong></p>
                    <p><strong>Channel: </strong>Gil Shapira</p>
                    <p><strong>Description: </strong>
                      Turbinate reduction using the neoV980 diode laser.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/ENT-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD BROCHURE
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV980">
                <div class="btn-simple">
                  <h3>
                    MORE ON NEOV 980
                  </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a a type="button" ui-sref="app.treatments">
                <div class="btn-simple">
                  <h3>
                    OTHER TREATMENTS
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MORE ON NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Back to Top
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="ent-col-2">
      <h4><strong>OUR PRODUCTS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OTHER TREATMENTS</strong></h4>
      <div class="row">
        <a ui-sref="app.EVLA">
        <div class="img-wrapper">
          <img src="images/knee-blackNgreen.png">
        </div>
        <p><strong>EVLA</strong><br>Endovenous Applications</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.PLDD">
          <div class="img-wrapper">
            <img src="images/back-nobg.png">
          </div>
          <p><strong>PLDD</strong><br>Laser Spine Surgery</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.proctology">
        <div class="img-wrapper">
          <img src="images/procto.png">
        </div>
        <p><strong>PROCTOLOGY</strong><br>Fistula-in-ano and hemorrhoids</p>
        </a>
      </div>
    </div>
  </div>
</div>
