<div id="evlaWrapper" class="treatmentWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="app.treatments">Treatments</a></li>
    <li class="breadcrumb-item active">Endovascular Applications (EVLA)</li>
  </ol>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="evla-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">ENDOVASCULAR</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/vascular/legs.png" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">The neoV laser unit is indicated for Endovenous Laser Ablation (EVLA), for treatment of varicose veins. The disease has significant prevalence in the general population. Up to 55% of women and 45% of men suffer from venous disease.</p>
              <div id="last" class="collapse">
                <p class="text-justify">Of these up to 25% of women and 15% of men will have visible varicose veins.</p>
                <p class="text-justify">Surgical treatment methods include open surgery, stripping, and minimally invasive techniques. Endovenous Laser Ablation (EVLA) provides the optimal tool for vein treatment in a minimally invasive method with reduced complication rates and high efficacy.</p>
                <p class="text-justify">By applying laser energy, the inner part of the vessel wall gets irreversibly destroyed, thus eliminating the dysfunctional vein. The vessel will be resorbed in the following months.</p>
                <p class="text-justify"> Major studies have demonstrated speedier recovery and fewer complications using minimally invasive treatment techniques. The recent introduction of 1470nm energy, with higher absorption in water, and as a result, less collateral thermal damage has improved the technique further, enabling safe, rapid, and precise use of energy to coagulate the vessel with minimal impact on neighboring structures.</p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#procedure" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;THE EVLA PROCEDURE</h3>
            </div>
            <div id="procedure" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <p class="text-justify">The Endovenous Laser Ablation procedure utilizes ultrasound guidance and tumescent anesthesia to enable treatment. A puncture is performed allowing percutaneous entry and access up to the saphenofemoral junction. A guide wire, visible under ultrasound, is advanced to the treatment area, followed by the introducer. The guide wire is removed and replaced with the optical fiber for energy delivery.</p>
                  <p class="text-justify">
                    Energy is delivered while pulling back the fiber and introducer enabling deposition of energy along the entire length of the vein. The ease of use and minimally invasive nature of the apparatus allows rapid completion of the treatment; patients can return to normal activities immediately post treatment.
                  </p>
                  <p class="text-justify">
                    Enabling rapid treatment with optimal setup and portability, the neoV laser system will provide fast return on investment, allowing you to expand your practice.
                  </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <h4 class="text-center">Key Advantages</h4>
                  <table class="table table-striped table-hover table-bordered">
                    <tbody>
                      <tr><td>Ease-of-use, surgeon presets</td></tr>
                      <tr><td>Touch screen control</td></tr>
                      <tr><td>Complete procedural kit</td></tr>
                      <tr><td>High reliability, no maintenance</td></tr>
                      <tr><td>Portable</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#corona" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;CORONA 360 TECHNOLOGY</h3>
            </div>
            <div id="corona" class="collapse marginJ inner">
              <div class="row">
                <div class="col-xs-12 col-sm-5" id="corona4x4">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 text-center">
                      <p><strong>CORONA 360</strong></p>
                      <img src="images/vascular/corona360ul.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 text-center">
                      <p><strong>CORONA 360 Slim</strong></p>
                      <img src="images/vascular/corona360ur.png" class="img-responsive"/>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/corona360ll.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/corona360lr.png" class="img-responsive"/>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <h4 class="text-center"><strong>Key Benefits</strong></h4>
                    <table class="table table-striped table-responsive table-hover table-bordered">
                      <tbody>
                        <tr><td>Circular emission technology</td></tr>
                        <tr><td>Improved angle of emission</td></tr>
                        <tr><td>Reduced number of procedural steps</td></tr>
                        <tr><td>Very safe and smooth insertion</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                  <h4>Optimal Energy Delivery Fibers</h4>
                  <p>We offer 2 different versions of fibers.</p>
                  <p>Optimal wavelength is coupled with optimal energy delivery when using our Corona 360 regular and slim optical fibers &ndash; the highest quality circular emission fibers.</p>
                  <p>All fibers are provided with full procedural kits with the latest advances in endovascular technology.</p>
                  <div class="row">
                    <div class="row" style="background:#eee;border-radius:16px;">
                      <div class="col-xs-12 col-sm-7 text-justify" style="padding:15px;">
                        <h4>Corona 360 Fiber Technology</h4>
                        <p>
                          Neolaser's Corona 360 fiber technology provides you with the efficiency of circular emission, ensuring deposition of energy directly on the vessel wall.
                        </p>
                        <p>
                          By aiming light at 60 degrees relative to the fiber axis, coagulation is guaranteed during pullback of the fiber.
                        </p>
                        <p>
                          The tip of the fiber is comprised of an extra smooth glass capillary, directly connected to a marked smooth jacket, allowing easy direct insertion into the vein.
                        </p>
                        <p>
                          The fiber utilizes a simple procedure kit with a short introducer, reducing steps and procedure time.
                        </p>
                      </div>
                      <div class="col-xs-12 col-sm-5" style="padding:15px;">
                        <img src="images/vascular/corona360.png" class="img-responsive"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#kits" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;PROCEDURAL KITS</h3>
            </div>
            <div id="kits" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-5" id="kits4x4">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/upperkitsL.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/upperkitsR.png" class="img-responsive"/>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/lowerkitsL.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                      <img src="images/vascular/lowerkitsR.png" class="img-responsive"/>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                  <p class="text-justify">
                    The CORONA 360 fiber is offered with a state of the introduction kit for endovascular procedure.
                  </p>
                  <p class="text-justify">
                    The 6FR introduction kit includes a special needle, visible under ultrasound, a J terminated guide wire, an introducer and a dilator to ensure smooth and non traumatic entry into the blood vessel.
                  </p>
                  <p class="text-justify">
                    The introducer is compatible with both CORONA 360 and CORONA 360 Slim and matches the CORONA fiber markings for safety and efficacy of the procedure.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#neoV" ng-click="plusSignJ4 = !plusSignJ4">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;THE NEOV 1470</h3>
            </div>
            <div id="neoV" class="collapse marginJ">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-5" style="background:#eee;border-radius:16px;padding:15px;">
                    <img src="images/vascular/wavelength.png" class="img-responsive" style="background:white;"/>
                    <h4 class="text-center"><strong>Your Choice of Wavelength</strong></h4>
                    <p class="text-justify">Laser interaction with tissue depends on the wavelength of choice. The neoV 1470 diode laser offers a novel wavelength with superior performance for ablation of diseased veins &ndash; 1470nm. In contrast to previous generations of laser therapy with deep tissue penetration, the 1470nm wavelength is highly absorbed by water in tissue. As a result heat generation is highly localized and application is safe and precise.</p>
                  </div>
                  <div class="col-xs-12 col-sm-7">
                    <h4 class="text-center"><strong>Safe and Homogeneous Energy Deposition</strong></h4>
                    <p class="text-justify">
                      The neoV laser provides the user with a synchronization signal which relates to the desired dosage, specified in J per cm, enabling the user to carefully and safely match pullback speed to the desired LEED dosage.
                    </p>
                    <p class="text-justify">
                      The neoV laser comes equipped with predefined LEED programs and may be easily programmed by the user for specific dosages and pullbacks speeds which may relate to vein diameter and the type of energy used.
                    </p>
                    <p class="text-justify">
                      This unique feature provides for safe and homogeneous deposition of energy along the vein wall.
                    </p>
                    <br><br>
                    <table class="table table-striped table-hover table-responsive table-bordered">
                      <thead>
                        <tr><th class="text-center">Key Advantages</th></tr>
                      </thead>
                      <tbody>
                        <tr><td>Easy to use synchronization audio signal for pullback speed</td></tr>
                        <tr><td>Up to 99 dosage presets can be defined</td></tr>
                        <tr><td>Safe and homogeneous energy deposition</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h4 class="text-center"><strong>Optimal Portability</strong></h4>
                    <p class="text-justify">The neoV laser is unique. It is the smallest system of its performance class with a footprint of only 22cm&times;22cm and a weight of only 3.5Kg. Equipped with a custom made suitcase for easy and safe transportation between treatment sites, the system offers unparalleled flexibility. From the moment you enter the room, the system can be powered on and ready to fire within less than 2 minutes. Such unmatched performance will help you increase your practice and revenue base, making the neoV the optimal investment for your business.</p>
                    <img src="images/vascular/portability.png" class="img-responsive center-block"/>
                    <div class="text-center">
                      <button role="button" class="btn btn-default" ui-sref="app.neoV1470">Learn More</button>
                      <button role="button" class="btn btn-default" ui-sref="app.contact">Contact Us</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/VASCULAR-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD BROCHURE
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MORE ON NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Back to Top
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="evla-col-2">
      <h4><strong>OUR PRODUCTS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OTHER TREATMENTS</strong></h4>
      <div class="row">
        <a ui-sref="app.PLDD">
          <div class="img-wrapper">
            <img src="images/back-nobg.png">
          </div>
          <p><strong>PLDD</strong><br>Laser Spine Surgery</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.ENT">
        <div class="img-wrapper">
          <img src="images/ENT-nobg.png">
        </div>
        <p><strong>OTOLARYNGOLOGY</strong><br>Ears, nose, and throat</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.proctology">
        <div class="img-wrapper">
          <img src="images/procto.png">
        </div>
        <p><strong>PROCTOLOGY</strong><br>Fistula-in-ano and hemorrhoids</p>
        </a>
      </div>
    </div>
  </div>
</div>
