<div id="homeWrapper">
  <div id="j1" class="jumbotron">
    <div id="inicioCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div id="eventSlide" class="container-fluid">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-1">
                <img src="images/event-2.jpg" class="img-responsive img-rounded center-block">
              </div>
              <div class="col-xs-12 col-sm-5">
                <h1>COME MEET US @ <b>HOSPITALAR</b></h1>
                <p>We'll be at the <span style="color:lightgreen;">Green Sector</span>, Rua 14, Stand 174
                <br>
                May 16-19, 2017 - 11am-8pm</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div id="distribSlide" class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-1">
                <h1>BECOME A<br>DISTRIBUTOR</h1>
                <p>Become an authorized distributor and represent Neolaser products in Latin America.</p>
                <a type="button" class="btn btn-lg btn-success" ui-sref="app.distributors">Click here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div id="coverSlide" class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-5">
                <h1>SURGICAL LASER SYSTEMS</h1>
                <p>We offer top-notch quality and world-class design, providing superb performance and functionality, flexibility and modularity, all at an affordable cost.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#inicioCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#inicioCarousel" data-slide-to="1"></li>
        <li data-target="#inicioCarousel" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
  <div class="container">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.PLDD"><img src="images/back-nobg.png" alt="PLDD"></a>
              </div>
              <h4>PLDD</h4>
              <p class="col-sm-10 col-sm-offset-1">Treatment of back pain resulting from herniated discs. <a ui-sref="app.PLDD">Learn more...</a></p>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.EVLA"><img src="images/knee-blackNgreen.png" alt="EVLA" class=""></a>
              </div>
              <h4>EVLA</h4>
              <p class="col-sm-10 col-sm-offset-1">Treatment of varicose veins.<br><a ui-sref="app.EVLA">Learn more...</a></p>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.ENT"><img src="images/ENT-nobg.png" alt="ENT" class=""></a>
              </div>
              <h4>ENT</h4>
              <p class="col-sm-10 col-sm-offset-1">Oral cavity, laryngeal, nasal, pharyngeal, and otology procedures. <a ui-sref="app.ENT">Learn more...</a></p>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.proctology"><img src="images/proctology-transparent.png" alt="Proctology" class=""></a>
              </div>
              <h4>PROCTOLOGY</h4>
              <p class="col-sm-10 col-sm-offset-1">New treatment options!<br><a ui-sref="app.proctology">Learn more...</a></p>
            </div>
          </div><!--/row-->
        </div><!--/item-->
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-3 col-sm-offset-3 col-sm-offset-3">
              <div class="img-wrapper">
                <a ui-sref="app.products"><img src="images/smallest-machine.png" alt="Image" class="img-responsive"></a>
              </div>
              <h4>WORLD CLASS DESIGN</h4>
              <p class="col-sm-10 col-sm-offset-1">The smallest, lightest weight, and most portable laser system of its power class.</p>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="img-wrapper">
                <a ui-sref="app.about"><img src="images/neolaser-logo.png" alt="NEO V980" class="center-block img-responsive"></a>
              </div>
              <h4>ABOUT</h4>
              <p class="col-sm-10 col-sm-offset-1">Neolaser Latin America<br><a ui-sref="app.about">Learn More...</a></p>
            </div>
          </div><!--/row-->
        </div><!--/item-->
      </div><!--/carousel-inner-->
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <i class="fa fa-chevron-left fa-2x" aria-hidden="true" id="right-i"></i>
      </a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
