<div id="neoV980Wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="app.products">Our Products</a></li>
    <li class="breadcrumb-item active">neoV 980</li>
  </ol>
  <div class="jumbotron topJ">
    <div class="container">
      <div class="row">
        <h1 class="text-center">THE NEOV 980</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="images/neoV02.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-7">
          <p>The neoV980 is a cutting edge all purpose surgical tool for a wide scope of clinical applications. The 980nm wavelength offering almost equal absorption in water and blood, coupled with the higher power throughput of the neoV platform, enables safe and effective treatment of many conditions, from ENT and GYN Surgery, through EVLA and PLDD treatments, to Laser Assisted Lipolysis and Dermatological Vascular Lesion treatment. Contact us for more information on this highly robust unit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#treatment" ng-click="plusSignJ1 = !plusSignJ1">
          <h3><i ng-class="plusSignJ1 ? 'fa-minus' : 'fa-plus'"></i>&emsp;TREATMENTS</h3>
        </div>
        <ul id="treatment" class="collapse">
          <li>ENT</li>
          <li>GYN</li>
          <li>GI</li>
          <li>PULMONARY</li>
          <li>ORTHOPEDICS</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#features" ng-click="plusSignJ2 = !plusSignJ2">
          <h3><i ng-class="plusSignJ2 ? 'fa-minus' : 'fa-plus'"></i>&emsp;FEATURES &amp; ADVANTAGES</h3>
        </div>
        <ul id="features" class="collapse">
          <li>neoV 980</li>
          <li>Applications</li>
          <li>Design</li>
          <li>Ease of Use</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#applications" ng-click="plusSignJ3 = !plusSignJ3">
          <h3><i ng-class="plusSignJ3 ? 'fa-minus' : 'fa-plus'"></i>&emsp;CLINICAL APPLICATIONS</h3>
        </div>
        <ul id="applications" class="collapse">
          <li>Orthopedics</li>
          <li>GI</li>
          <li>Pulmonary</li>
          <li>ENT</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#specs" ng-click="plusSignB = !plusSignB">
          <h3><i ng-class="plusSignB ? 'fa-minus' : 'fa-plus'"></i>&emsp;SPECS</h3>
        </div>
        <ul id="specs" class="collapse">
          <li>neoV 980 Specification</li>
          <li>Fiber &amp; Kits</li>
        </ul>
      </div>
    </div>
  </div>
</div>
