<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.products">Our Products</a></li>
  <li class="breadcrumb-item active">neoV 980</li>
</ol>
<div id="neoVWrappers" class="sliderYp slide-page">
  <div class="jumbotron topJ">
    <div class="container">
      <div class="row">
        <h1 class="text-center">THE NEOV 980</h1>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="images/neoV02.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-7">
          <p>The neoV980 is a cutting edge all purpose surgical tool for a wide scope of clinical applications. The 980nm wavelength offering almost equal absorption in water and blood, coupled with the higher power throughput of the neoV platform, enables safe and effective treatment of many conditions, from ENT and GYN Surgery, through EVLA and PLDD treatments, to Laser Assisted Lipolysis and Dermatological Vascular Lesion treatment. Contact us for more information on this highly robust unit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#treatment" ng-click="plusSignJ1 = !plusSignJ1">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ1 ? 'fa-minus' : 'fa-plus'"></i>&emsp;TREATMENTS</h3>
        </div>
        <ul id="treatment" class="collapse marginJ">
          <li>Gastroenterology (GI)</li>
          <li>Gynecology</li>
          <li>Orthopedics</li>
          <li>Otolaryngology &ndash; Ears, Nose &amp; Throat (ENT)</li>
          <li>Pulmonary</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ2 = !plusSignJ2">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ2 ? 'fa-minus' : 'fa-plus'"></i>&emsp;BENEFITS</h3>
        </div>
        <div id="benefits" class="collapse">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">High Power</th>
                <td>The neoV980 is a powerful surgical and aesthetic laser with up to 20W of output power from the fiber tip. Delivering high power energy through precision instruments and fiber optics, the units provides you with sufficient power for a wide array of high value applications, enabling safe, precise, and efficient use.</td>
              </tr>
              <tr>
                <th scope="row">Superb Design &amp; Quality</th>
                <td>The neoV980 is the smallest system of its power class. Utilizing proprietary cooling technology, the unit is only a fraction of the size and weight of equivalent systems, offering unparalleled portability. With full metal aluminum housing and superb craftsmanship, the neoV980 represents the next generation of laser design excellence.</td>
              </tr>
              <tr>
                <th scope="row">Versatile Clinical Applications</th>
                <td>The neoV980, with high power output at 980nm, is a versatile clinical tool due to almost equal absorption of this wavelength in both water and blood. As a result, the neoV980 can be used efficiently for precision cutting as well as coagulation of vessels for hemostasis. Accordingly, the neoV980 supports a wide array of clinical applications, from aesthetic to surgical.</td>
              </tr>
              <tr>
                <th scope="row">Versatile Surgical Tools</th>
                <td>The neoV980 supports a wide array of potential fiber delivery systems as well as hand pieces. The laser may be connected to precision surgical fibers from 300 micron cores, though surgical hand pieces with modular stainless steel tips. For Aesthetic use it may be delivers through a reusable dual connector fiber through precision focusing hand pieces delivering spot sizes from 0.25mm and up.</td>
              </tr>
              <tr>
                <th scope="row">Value</th>
                <td>The neoV980, with high power throughput, top-notch quality design, full clinical flexibility in potential applications, and no ongoing maintenance requirements, offers unique value to our customers for years to come.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#features" ng-click="plusSignJ3 = !plusSignJ3">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ3 ? 'fa-minus' : 'fa-plus'"></i>&emsp;FEATURES &amp; ADVANTAGES</h3>
        </div>
        <div id="features" class="collapse">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Key Features</th>
                <th>Design</th>
                <th>Ease of Use</th>
                <th>Unique Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>980 nm wavelength</td>
                <td>World-class design</td>
                <td>Large high-brightness color touch screen</td>
                <td>Enhanced safety features</td>
              </tr>
              <tr>
                <td>Up to 20 W at 980 from laser head</td>
                <td>22cm &times; 22cm &times; 10cm</td>
                <td>Intuitive user interface</td>
                <td>High reliability and low maintenance</td>
              </tr>
              <tr>
                <td>300&mu;m to 600&mu;m fibers</td>
                <td>Weight only 3.5Kg</td>
                <td>Plug and play fiber connection</td>
                <td>Portability</td>
              </tr>
              <tr>
                <td>Indications in ENT, GYN, ORTHO, PULM/GI</td>
                <td>Custom designed carrying suitcase</td>
                <td>Rapid setup with surgeon presets</td>
                <td>Standard power connection</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Green aiming beam for easy aiming</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#applications" ng-click="plusSignJ4 = !plusSignJ4">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ4 ? 'fa-minus' : 'fa-plus'"></i>&emsp;CLINICAL APPLICATIONS</h3>
        </div>
        <div id="applications" class="collapse">
          <div class="row marginJ">
            <div class="col-xs-12 col-sm-6">
              <h4>Gastroenterology (GI)</h4>
              <p>The use of laser energy at 980nm through flexible endoscopes in the field of Gastroenterology can assist in a wide variety of conditions. The strong coagulative power of the energy can be exploited to treat GI bleeders, to ablate and destroy lesions, including treatment of abnormal mucosa, or strictures.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Orthopedics</h4>
              <p>In Orthopedic treatment of lumbar disc herniation, the neoV 980 enables Percutaneous Laser Disc Decompression (PLDD) procedures. Laser energy is delivered by a fiber through a hollow needle to evaporate water and tissue content thereby reducing pressure and as a result, relieving back pain.</p>
            </div>
          </div>
          <div class="row marginJ">
            <div class="col-xs-12 col-sm-6">
              <h4>Otolaryngology (ENT)</h4>
              <p>In ENT the laser is ideal for nasal surgery including polyps, cysts, and septum treatment. Oral application for tonsillectomy, glossectomy, oral lesions, and uvulopalatoplasty is recommended, as well as laryngeal, subglottic lesions, including office-based treatments. A special kit is offered for treatment of Dacryocystorhinostomy (DCR).</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Pulmonary</h4>
              <p>Whether it is Central Airway Obstruction (CAO) or lesions deeper in the bronchi, the 980nm wavelength, having strong coagulation power, can assist in debulking, coagulating and removing obstructing tumors. With use of gas cooled fibers through flexible endoscopy, surgical reach can be expanded and improved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ">
    <div class="container">
      <div class="row">
        <div class="collapsed" role="button" data-toggle="collapse" href="#specs" ng-click="plusSignJ5 = !plusSignJ5">
          <h3 class="Lato"><i class="fa" ng-class="plusSignJ5 ? 'fa-minus' : 'fa-plus'"></i>&emsp;SPECS</h3>
        </div>
        <div id="specs" class="collapse">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>neoV 980 Specification</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">Laser Wavelength</th>
                    <td>980 nm</td>
                  </tr>
                  <tr>
                    <th scope="row">Display/Control</th>
                    <td>Colour Touch Screen</td>
                  </tr>
                  <tr>
                    <th scope="row">Output Power (Laser)</th>
                    <td>28 W</td>
                  </tr>
                  <tr>
                    <th scope="row">Aiming Beam</th>
                    <td>532nm or 650nm, adjustable</td>
                  </tr>
                  <tr>
                    <th scope="row">Fibre Connection</th>
                    <td>Proprietary</td>
                  </tr>
                  <tr>
                    <th scope="row">Operating Modes</th>
                    <td>CW, Pulsed</td>
                  </tr>
                  <tr>
                    <th scope="row">Power Requirements</th>
                    <td>19 VDC, 4.7 A</td>
                  </tr>
                  <tr>
                    <th scope="row">Dimensions(H&times;W&times;D)</th>
                    <td>10&times;22&times;22 (cm)</td>
                  </tr>
                  <tr>
                    <th scope="row">Weight (without case)</th>
                    <td>3.5 kg</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 col-sm-6">
              <table class="table table-responsive table-bordered table-striped table-hover">
                <br>
                <h4><strong>Fiber &amp; Kits</strong></h4>
                <tbody>
                  <tr>
                    <th scope="row">Bare Fiber</th>
                    <td>2.6, 300/400/600 &mu;m</td>
                  </tr>
                  <tr>
                    <th scope="row">Otology Probes</th>
                    <td>2.6, 300&mu;m, Long/Short Probes</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA 90</th>
                    <td>Side Fire Fiber, 600&mu;m, 1.8 OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA GC</th>
                    <td>Gas Cooled, 600&mu;m, 1.8mm OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA CD</th>
                    <td>Cylindrical Diffuser, 600&mu;m, 1.6mm OD 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">CORONA 360</th>
                    <td>Radical emission, 600&mu;m, 1.8mm OD, 3m</td>
                  </tr>
                  <tr>
                    <th scope="row">DCR kit</th>
                    <td>Hand piece with 2 cannulas, sterilization tray</td>
                  </tr>
                  <tr>
                    <th scope="row">DCR Intubation</th>
                    <td>Intubation Set, Silicone, Single use, Sterile</td>
                  </tr>
                  <tr>
                    <th scope="row">Hand Pieces</th>
                    <td>Stainless Steel, Various Sizes</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ">
    <div class="container">
      <h1 class="text-center">SEE ALSO</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <a ui-sref="app.products"><div class="btn-simple">
            <h3>OUR PRODUCTS</h3>
          </div></a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a ui-sref="app.neoV1470"><div class="btn-simple">
            <h3>NEO V1470</h3>
          </div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <a ui-sref="app.treatments"><div class="btn-simple">
            <h3>NEW TREATMENT OPTIONS</h3>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
