<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Treatments</a></li>
  <li class="breadcrumb-item active">Percutaneous Laser Disc Decompression (PLDD)</li>
</ol>
<div id="plddWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="pldd-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">PERCUTANEOUS LASER DISC DECOMPRESSION</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/back-nobg.png" class="img-responsive pull-right" style="max-height:450px;">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">PLDD is a minimally invasive treatment utilizing laser energy for relieving back and neck pain caused by a herniated disc.</p>
              <div id="last" class="collapse">
                <p class="text-justify">A laser fiber is inserted through a small needle into the herniated disc under local anesthesia. Thermal effects caused by the delivered laser energy lead to desired therapeutic effect.
                </p>
                <p class="text-justify">
                  The procedure can be performed in an outpatient setting and leaves no scars, eliminating potential complications of open and more radical surgery.
                </p>
                <p class="text-justify">
                  The neoV platform with Neolaser's PLDD set, is a perfect solution for your PLDD cases.
                </p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#procedure" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;THE PLDD PROCEDURE</h3>
            </div>
            <div id="procedure" class="collapse marginJ">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-4">
                  <img src="images/pldd/backG.png" class="img-responsive"/>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <p class="text-justify">The treatment principle of PLDD is based on the concept of the intervertebral disk being a closed hydraulic system. This system consists of the nucleus pulposus, containing a large amount of water, surrounded by the inelastic annulus fibrosus. An increase in water content of the nucleus pulposus leads to a disproportional increase of intradiscal pressure.</p>
                  <p class="text-justify">A reduction of intradiscal pressure causes the herniated disk material to recede toward the center of the disk, thus leading to reduction of nerve root compression and relief of radicular pain. In PLDD, this mechanism is exploited by application of laser energy to evaporate water in the nucleus pulposus.</p>
                  <p class="text-justify">
                    Laser energy is delivered by a laser fiber through a hollow needle placed into the nucleus pulposus. The needle is placed into the intervertebral disk under local anesthesia. Apart from evaporation of water, the increase in temperature also causes protein denaturation and subsequent renaturation. This causes a structural change of the nucleus pulposus, limiting its capability to attract water and therefore leading to a permanent reduction of intradiscal pressure.
                  </p>
                  <p class="text-justify">
                    <a ui-sref="app.neoV1470" target="_blank"><strong>The 1470nm laser</strong></a>, due to its peak of water absorption, enables more precise and localized application of heat during application, enabling precise ablation of the bulging in the disc, which is highly beneficial.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;BENEFITS</h3>
            </div>
            <div id="benefits" class="collapse marginJ inner">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Minimally Invasive Technique</th>
                    <td>PLDD is a minimally invasive technique for treatment of back pain resulting from contained herniated discs. Key benefits of this approach include treatment under local anesthesia, rapid recovery and less risk vs more invasive approaches. In addition, the cost of treatment is minimized and optimized.</td>
                  </tr>
                  <tr>
                    <th scope="row">Optimal Energy Delivery</th>
                    <td>The laser energy is delivered to the target tissue via a custom fiber with a special thin coating. The fiber is threaded through either an 18G or a 20G needle, depending on physician preference.</td>
                  </tr>
                  <tr>
                    <th scope="row">PLDD Presets</th>
                    <td>The neoV platform comes equipped with PLDD presets which are based on extensive clinical experience. The laser allows pulsed operation enabling tissue relaxation and heat dissipation between consecutive pulses.</td>
                  </tr>
                  <tr>
                    <th scope="row">Portability</th>
                    <td>The neoV is the most portable PLDD unit on the market. With only 3.5Kg and a customized high quality carrying suitcase, it can be used in multiple clinics and support procedures in multiple locations.</td>
                  </tr>
                  <tr>
                    <th scope="row">Value</th>
                    <td>The neoV platform provides the best value on the market for PLDD treatments through unique design, quality, portability and state-of-the-art performance.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#kits" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;FIBER DELIVERY AND ACCESSORIES</h3>
            </div>
            <div id="kits" class="collapse marginJ">
              <div class="row">
                <div class="col-xs-12 col-sm-5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/pldd/kitL.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <img src="images/pldd/kitR.png" class="img-responsive"/>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                  <p class="text-justify">
                    The Neolaser PLDD kit includes everything you need for a safe, effective and minimally invasive PLDD or Denervation procedure. The sterile kit include a 400 micron bare fiber with jacket protection, 2 sizes of needles, 20G and 18G for your choice of entry, and a Y Connector allowing fiber entry and suction. The Connector and needles are individually packed to enable maximum flexibility in treatment.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#wavelength" ng-click="plusSignJ4 = !plusSignJ4">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;THE INTERACTION/WAVELENGTH OF CHOICE</h3>
            </div>
            <div id="wavelength" class="collapse marginJ">
              <div class="container">
                <div class="row vcenter">
                  <div class="col-xs-12 col-sm-6">
                    <img src="images/pldd/wavelength.png" class="img-responsive" style="background:white;"/>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p class="text-justify">The neoV laser comes in 2 versions &ndash; the 980nm and the 1470nm.</p>
                    <p class="text-justify"><a ui-sref="app.neoV980"><strong>The 980nm laser</strong></a> is a powerful tool for vaporization and generally for rapid surgical work.
                    </p>
                    <p class="text-justify"><a ui-sref="app.neoV1470"><strong>The 1470nm laser</strong></a> with significantly higher absorption in water, provides a superior precision instrument for fine surgical work with reduced collateral damage around critical structures.</p>
                    <p class="text-justify">
                      Whatever your surgical needs, the neoV platform is your solution.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/PLDD-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD BROCHURE
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV980">
                <div class="btn-simple">
                  <h3>
                    MORE ON NEOV 980
                  </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a a type="button" ui-sref="app.treatments">
                <div class="btn-simple">
                  <h3>
                    OTHER TREATMENTS
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MORE ON NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Back to Top
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="pldd-col-2">
      <h4><strong>OUR PRODUCTS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OTHER TREATMENTS</strong></h4>
      <div class="row">
        <a ui-sref="app.proctology">
        <div class="img-wrapper">
          <img src="images/procto.png">
        </div>
        <p><strong>PROCTOLOGY</strong><br>Fistula-in-ano and hemorrhoids</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.ENT">
        <div class="img-wrapper">
          <img src="images/ENT-nobg.png">
        </div>
        <p><strong>ENT</strong><br>Ears, nose, and throat</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.EVLA">
          <div class="img-wrapper">
            <img src="images/knee-blackNgreen.png">
          </div>
          <p><strong>EVLA</strong><br>Endovascular Applications</p>
        </a>
      </div>
    </div>
  </div>
</div>

</div>
