<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
  <li class="breadcrumb-item"><a ui-sref="app.treatments">Treatments</a></li>
  <li class="breadcrumb-item active">Proctology</li>
</ol>
<div id="proctologyWrapper" class="treatmentWrapper sliderYp slide-page">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-1st" id="procto-col-1">
      <div class="jumbotron topJ">
        <div class="container">
          <div class="row">
            <h1 class="text-center">PROCTOLOGY</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img src="images/proctology-transparent.png" class="img-responsive pull-right" style="max-height:350px;">
            </div>
            <div class="col-xs-12 col-sm-7">
              <p class="text-justify">Proctology conditions such as hemorrhoids and fistula-in-ano are very prevalent in western societies.</p>
              <div id="last" class="collapse">
                <p class="text-justify">
                  Some treatment options exist with their advantages and disadvantages.
                </p>
                <p class="text-justify"> Neolaser introduces <strong>ALFA&trade;</strong> and <strong>ELITE&trade;</strong> for laser treatment of fistula-in-ano and grade 3-4 hemorrhoids, respectively. These microsurgical tools enable safe, sphincter saving and almost pain free procedure for patients and surgeons.
                </p>
              </div>
              <h2><i class="fa btn-block text-center show-more collapsed" role="button" data-toggle="collapse" href="#last" ng-click="expand=!expand" ng-class="{'fa-chevron-down':!expand,'fa-chevron-up':expand}"></i></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#alfa" ng-click="plusSignJ1 = !plusSignJ1">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;THE ALFA&trade; PROCEDURE</h3>
            </div>
            <div id="alfa" class="collapse marginJ">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-4">
                  <img src="images/proctology/fistula.png" class="img-responsive"/>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <p class="text-justify">
                    During an ALFA&trade; procedure laser energy is delivered, via a radial emitting optical fiber, into the anal fistula tract and is used to thermally ablate and close off the abnormal pathway. The laser energy induces destruction of the fistula epithelium and simultaneous obliteration of the remaining fistula tract by a shrinkage effect.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#elite" ng-click="plusSignJ2 = !plusSignJ2">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;THE ELITE&trade; PROCEDURE</h3>
            </div>
            <div id="elite" class="collapse marginJ inner">
              <div class="row vcenter">
                <div class="col-xs-12 col-sm-8">
                  In the ELITE&trade; procedure laser energy is delivered via a designated optical fiber into the hemorrhoidal pile and is used to thermally close off the veins nourishing the abnormal growth. The laser energy induces destruction of the venous epithelium and simultaneous obliteration of the hemorrhoidal pile by a shrinkage effect.
                </div>
                <div class="col-xs-12 col-sm-4">
                  <img src="images/proctology/hemorrhoid.png" class="img-responsive"/>
                </div>
              </div>
              <br><br>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#benefits" ng-click="plusSignJ3 = !plusSignJ3">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>&emsp;BENEFITS</h3>
            </div>
            <div id="benefits" class="collapse marginJ inner">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <th scope="row">New Treatment Options</th>
                    <td>The ability to deliver high power energy through a flexible small diameter fiber facilitates and expands many treatment options; Major advantages include safety (ALFA&trade; and ELITE&trade; are sphincter preserving procedures) reduced pain, quicker healing and better outcome, as well as shorter procedures enabling better throughput for the clinic.</td>
                  </tr>
                  <tr>
                    <th scope="row">Optimal Energy Delivery</th>
                    <td>Special proprietary fiber technology including the CORONA Fistula Probe and the CORONA Hemorrhoid Probe for optimal treatment and outcomes.</td>
                  </tr>
                  <tr>
                    <th scope="row">Presets</th>
                    <td>The neoV platform comes equipped with presets allowing ease of use and improved surgical control. These include hemorrhoid settings to ensure adequate dosage as well as audio feedback for synchronization of pullback speed leading to accurate and uniform dosage application inside fistula tracts.</td>
                  </tr>
                  <tr>
                    <th scope="row">Office Procedures</th>
                    <td>Given the small size, yet high power of the neoV platform, it is the perfect tool to allow shift of procedures from the OR to an office-based setting. With only 3.5Kg and a customized high quality carrying suitcase, it can be used in multiple clinics and support procedures in multiple locations.</td>
                  </tr>
                  <tr>
                    <th scope="row">Value</th>
                    <td>The neoV platform provides the best value on the market for your Proctology practice through unique design, quality, portability and state-of-the-art performance.  It enables you to enhance your clinic’s offering and increase revenue.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron middleJ">
        <div class="container">
          <div class="row">
            <div class="collapsed" role="button" data-toggle="collapse" href="#videos" ng-click="plusSignJ6 = !plusSignJ6">
              <h3 class="Lato"><i class="fa pull-right" ng-class="plusSignJ6 ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&emsp;<i class="fa fa-youtube-play" style="color:inherit;background:inherit;opacity:1.0;"></i> RELATED VIDEOS</h3>
            </div>
            <div id="videos" class="collapse in marginJ inner">
              <!-- toggleable content -->
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h4 class="text-center"><strong>Anal Fistula Laser Treatment with neoV Laser</strong></h4>
                  <hr>
                  <div class="col-xs-12 col-sm-6">
                    <div class="iframe-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/wKLo_DqjmoE" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:12px;"><a href="https://youtu.be/wKLo_DqjmoE" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                    </p>
                    <p><strong>Uploaded on Oct 12, 2016</strong></p>
                    <p><strong>Channel: </strong>Gil Shapira</p>
                    <p><strong>Description: </strong>
                      Treatment of anal fistula lesion with neoV1470 laser at 1470 using the CORONA Fistula Probe</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h4 class="text-center"><strong>Hemorrhoid Laser Treatment with neoV </strong></h4>
                  <hr>
                  <div class="col-xs-12 col-sm-6">
                    <div class="iframe-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/O12WDWCo9bg" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p style="margin-top:12px;"><a href="https://youtu.be/O12WDWCo9bg" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
                    </p>
                    <p><strong>Uploaded on Oct 12, 2016</strong></p>
                    <p><strong>Channel: </strong>Gil Shapira</p>
                    <p><strong>Description: </strong>
                      Treatment of hemorrhoid lesion with prolapse with the neoV1470 laser at 1470nm and with CORONA Hemorrhoid Probe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a type="button" href="files/PROCTOLOGY-brochure.pdf" download>
                <div class="btn-simple">
                  <h3>
                    DOWNLOAD BROCHURE
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV980">
                <div class="btn-simple">
                  <h3>
                    MORE ON NEOV 980
                  </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <a a type="button" ui-sref="app.treatments">
                <div class="btn-simple">
                  <h3>
                    OTHER TREATMENTS
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a type="button" ui-sref="app.neoV1470">
                <div class="btn-simple">
                  <h3>
                    MORE ON NEOV 1470
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron bottomJ">
        <back-top class="text-center" scroll-speed=1500>
          &uarr; Back to Top
        </back-top>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-2nd" id="procto-col-2">
      <h4><strong>OUR PRODUCTS</strong></h4>
      <div class="row">
        <a ui-sref="app.neoV1470">
          <div class="img-wrapper">
            <img src="images/neoV01.png" style="float:none;width:125px;position:relative;top:25%;">
          </div>
          <p><strong>neoV 1470</strong></p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.neoV980">
          <div class="img-wrapper">
            <img src="images/neoV02.png" style="float:none;max-height:105px;position:relative;right:10%;top:10%;">
          </div>
          <p><strong>neoV 980</strong></p>
        </a>
      </div>
      <br><br>
      <h4><strong>OTHER TREATMENTS</strong></h4>
      <div class="row">
        <a ui-sref="app.ENT">
        <div class="img-wrapper">
          <img src="images/ENT-nobg.png">
        </div>
        <p><strong>ENT</strong><br>Ears, nose, and throat</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.EVLA">
        <div class="img-wrapper">
          <img src="images/knee-blackNgreen.png">
        </div>
        <p><strong>EVLA</strong><br>Endovenous Applications</p>
        </a>
      </div>
      <div class="row">
        <a ui-sref="app.PLDD">
          <div class="img-wrapper">
            <img src="images/back-nobg.png">
          </div>
          <p><strong>PLDD</strong><br>Laser Spine Surgery</p>
        </a>
      </div>
    </div>
  </div>
</div>
