<div id="productsWrapper" class="sliderYp slide-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
    <li class="breadcrumb-item active">Our Products</li>
  </ol>
  <div class="jumbotron topJ" id="topJ">
    <div class="container">
      <div class="row vcenter">
        <div class="col-xs-12 col-sm-6">
          <img src="images/neoV01.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-6">
          <h1>THE NEOV LASER</h1>
          <p>A powerful and versatile medical laser, utilizing a breakthrough cooling design, enabling significant power delivery, in the smallest footprint and lightest weight unit available on the market.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ" id="middleJ1">
    <div class="container">
      <div class="row vcenter">
        <div class="col-xs-12 col-sm-6">
          <h1>DESIGNED FOR SURGERY</h1>
          <p>Good things come in small packages and the neoV laser is no exception. This small, portable, superbly designed unit delivers an accurate 1470nm laser beam or a powerful 25W 980nm energy for your surgical applications.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="images/vascular/portability.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ" id="middleJ2">
    <div class="container">
      <div class="row vcenter">
        <div class="col-xs-12 col-sm-6">
          <img src="images/neoV02.png" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-6">
          <h1>THE WORLD'S SMALLEST HIGH POWER LASER</h1>
          <p> Leveraging proprietary cooling technology the laser is a fraction of the size and weight of other surgical lasers at the same power levels, providing unparalleled flexibility.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron middleJ" id="middleJ3">
    <div class="container">
      <div class="row vcenter">
        <div class="col-xs-12 col-sm-6">
          <h1>WORLD CLASS DESIGN</h1>
          <p>The neoV stands apart in terms of design and craftsmanship. The unit is controlled by a state-of-the-art color touch screen. Individual presets plus patented plug-and-play fibers will save you precious time.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="images/neoV03.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bottomJ" id="lastJ">
    <div class="container">
      <h1 class="text-center">FIND OUT MORE</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <a ui-sref="app.neoV980"><div class="btn-simple">
            <h3>NEO V980</h3>
          </div></a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a ui-sref="app.neoV1470"><div class="btn-simple">
            <h3>NEO V1470</h3>
          </div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <a ui-sref="app.treatments"><div class="btn-simple">
            <h3>NEW TREATMENT OPTIONS</h3>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
