<footer>
  <div class="jumbotron">
    <div class="container">
      <div class="row row-footer">
        <div class="col-xs-12 col-sm-3">
          <p>INSTITUCIONAL</p>
          <ul class="list-unstyled">
            <li><a ui-sref="app">Inicial</a></li>
            <li><a ui-sref="app.about">Quienes Somos</a></li>
            <li><a ui-sref="app.events">Eventos</a></li>
            <li><a ui-sref="app.products">Productos</a></li>
            <li><a ui-sref="app.treatments">Tratamientos</a></li>
            <li><a ui-sref="app.contact">Contáctanos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3">
          <p>CIRURGÍA LÁSER</p>
          <ul class="list-unstyled">
            <li><a ui-sref="app.neoV980">neoV 980</a></li>
            <li><a ui-sref="app.neoV1470">neoV 1470</a></li>
            <li><a ui-sref="app.EVLA">Aplicaciones Endo-vasculares</a></li>
            <li><a ui-sref="app.PLDD">PLDD</a></li>
            <li><a ui-sref="app.ENT">ENT</a></li>
            <li><a ui-sref="app.proctology">Proctología</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-offset-3">
          <a ui-sref="app.contact"><div class="btn-simple">
            <p>CONTÁCTANOS</p>
          </div></a>
          <a href="http://client.neolaserlatam.com"><div class="btn-simple">
              <p>INICIAR SESIÓN</p>
          </div></a>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="text-right" style="font-size:inherit;">&copy; Copyright 2016 <a href="http://cafeamanda.com.br" target="_blank">Café</a>. All Rights Reserved.</p>
    </div>
  </div>
</footer>
