<footer>
  <div class="jumbotron">
    <div class="container">
      <div class="row row-footer">
        <div class="col-xs-12 col-sm-3">
          <p>INSTITUTIONAL</p>
          <ul class="list-unstyled">
            <li><a ui-sref="app">Home</a></li>
            <li><a ui-sref="app.about">About</a></li>
            <li><a ui-sref="app.events">Events</a></li>
            <li><a ui-sref="app.products">Products</a></li>
            <li><a ui-sref="app.treatments">Treatments</a></li>
            <li><a ui-sref="app.contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3">
          <p>LASER SURGERY</p>
          <ul class="list-unstyled">
            <li><a ui-sref="app.neoV980">neoV 980</a></li>
            <li><a ui-sref="app.neoV1470">neoV 1470</a></li>
            <li><a ui-sref="app.EVLA">Endovascular Applications</a></li>
            <li><a ui-sref="app.PLDD">PLDD</a></li>
            <li><a ui-sref="app.proctology">Proctology</a></li>
            <li><a ui-sref="app.ENT">Otolaryngology</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-offset-3">
          <a ui-sref="app.contact"><div class="btn-simple">
            <p>CONTACT US</p>
          </div></a>
          <a href="#"><div class="btn-simple">
              <p>SIGN IN</p>
          </div></a>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="text-right" style="font-size:inherit;">&copy; Copyright 2016 <a href="http://cafeamanda.com.br" target="_blank">Café</a>. All Rights Reserved.</p>
    </div>
  </div>
</footer>
