/*

                global

**/
.Lato {
  font-family: 'Lato', sans-serif;
}
a {
  color:inherit;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
  color:#04aa34;
  opacity: 0.5;
}
.vcenter {
  display:flex;
  align-items: center;
}
.breadcrumb {
  margin-top:30px;
  margin-left:15px;
  margin-bottom:0;
  background:transparent;
  font-family: 'Lato',sans-serif;
  color:green;
}
.breadcrumb > li+li:before {
  content: "\203A\00a0";
}
.btn-simple {
  border:1px solid #444;
  text-align: center;
  margin:15px;
  background:transparent;
}
.btn-simple:hover {
  border:1px solid #05dd43;
  color: #05dd43;
}
.btn-simple:focus {
  color: #04aa34;
  border:1px solid #04aa34;
}
.btn-simple p, .btn-simple h3 {
  margin-top:15px;
  margin-bottom:15px;
}
.btn-simple h3 {
  font-family: 'Rubik One', sans-serif;
}
.bottomJ {
  margin-bottom:30px;
}
.middleJ, .bottomJ {
  font-family: 'Lato',sans-serif;
}
.middleJ,.topJ {
  margin-top:0;
  margin-bottom:0;
}
.bottomJ, .middleJ, .topJ {
  background:transparent;
}
.marginJ {
  margin-left:44px;
  margin-top:30px;
}
.marginJ h4 {
  font-weight: bold;
  margin-bottom:10px;
  font-family: 'Lato', sans-serif;
}
.marginJ p {
  font-size:inherit;
}
.img-wrapper {
  height: 125px;
  width:125px;
  /*border-radius: 50%;*/
  background: #ddd;
  display:block;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
}
.img-wrapper img {
  max-height: 125px;
  float:right;
}
.show-more {
  background-image:linear-gradient(to bottom,#fff 0,#ccc 100%) !important;
}

/*

                navigation

**/

.navbar-brand, .navbar-brand h1 {
  float:none;
  margin-top:0;
  margin-bottom:0;
  color:#777;
  text-shadow: 0 0 0;
  font-family: 'Jura', sans-serif;
}
.navbar-brand li {
  text-shadow: 0 0 0;
}
.navbar-brand a:hover {
  color:gray;
  opacity:0.8;
}
.navbar-brand strong {
  color: lightgreen;
}
.navbar-inverse {
  z-index: 1;
  background:white;
  border:0;
  margin: 0;
  margin-left:15px;
}
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 0 0;
  padding-top:20px;
  padding-bottom:20px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background:#05dd43;
  opacity: 0.8;
  border:0;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  text-shadow: 0 0 0;
  padding-top:20px;
  padding-bottom:20px;
}
#lang-brand {
  margin-top:17px;
  padding-left:12px;
  margin-bottom:17px;
}
#lang-brand > li > a {
  color:lightgray;
  border-left:1px solid #eee;
  line-height: 1px;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Lato',sans-serif;
}
#lang-brand > li > a:hover {
  color:lightgray !important;
  border-left:1px solid #eee !important;
  opacity:1.0 !important;
}
#uppernavbarlist {
  float:right;
  padding-top:10.3px;
  padding-bottom: 10.3px;
}
#uppernavbar {
  margin-left:15px;
  margin-right:15px;
  border-bottom:1px solid #f9f9f9;
}
#uppernavbarlist > li > a {
  text-shadow: 0 0 0;
  font-weight: bold;
  color:#333;
}
#uppernavbar .navbar-nav > li > a:hover, #uppernavbar .navbar-nav > li > a:focus {
  color:black;
}
#lowernavbar .navbar-nav > li > a {
  font-weight: bold;
  color: #05dd43;
  border:0;
}
#lowernavbar .navbar-nav .open .dropdown-menu > li > a {
  color:white;
  font-weight: bold;
}
#lowernavbar .navbar-nav > li > a:hover, #lowernavbar .navbar-nav > li > a:focus, #lowernavbar .navbar-nav > .active, #lowernavbar .navbar-nav > .open > a, #lowernavbar .navbar-nav > .open > a:hover {
  color: white;
  background: #05dd43;
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
}
#lowernavbar .navbar-nav .open .dropdown-menu > li > a:hover,
#lowernavbar .navbar-nav .open .dropdown-menu > li > a:focus {
  color:#04b637;
  background: transparent;
}
#lowernavbar .navbar-collapse {
  border:0;
}
/* The side navigation button */
#sideNavButton {
  text-decoration: none;
  color:inherit;
  margin-left: 15px;
}
#sideNavButton i {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 2; /* Stay on top */
   top: 0;
   left: 0;
   background-color: green;
   opacity:0.8;
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav li {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: white;
   display: block;
   transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav li:hover, .offcanvas li:focus{
   color: darkgreen;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
   transition: margin-left .5s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

/*

                  home

*/

#homeWrapper .jumbotron {
  background: transparent;
  padding-top:0;
  padding-bottom:0;
}
#homeWrapper .jumbotron h1, h4 {
  font-family: 'Lato', sans-serif;
}
#homeWrapper .jumbotron p {
  font-size:16px;
}
#homeCarousel {
  font-family: 'Lato', sans-serif;
  margin-bottom:24px;
}
#homeCarousel .row {
  margin-bottom:24px;
}
#homeCarousel h4, #homeCarousel p {
  text-align: center;
}
#homeCarousel .carousel-control {
  background: transparent;
  width:5%;
}
.fa.fa-chevron-right.fa-2x{
  position:absolute;
  right:0;
  top:42.5%;
  color:green;
}
.fa.fa-chevron-left.fa-2x{
  color:green;
  position:absolute;
  left:0;
  top:42.5%;
}
/*

                  products

*/
#productsWrapper .jumbotron {
  color:white;
}
#productsWrapper .jumbotron img {
  background:#eee;
  padding-top:15px;
}
#productsWrapper .jumbotron h1 {
  font-size:40px;
  font-family: 'Rubik One', sans-serif;
}
#productsWrapper .jumbotron h3 {
  font-family: 'Rubik One', sans-serif;
}
#productsWrapper .jumbotron p {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#productsWrapper #topJ {
  background:#05dd43;
}
#productsWrapper #middleJ1 {
  background:#111;
}
#productsWrapper #middleJ2 {
  background:#387ef5;
}
#productsWrapper #middleJ3 {
  background:#11c1f3;
}
#productsWrapper #lastJ {
  background:white;
  color:#444 !important;
}
#productsWrapper #lastJ .btn-simple {
  border:1px solid #444;
  text-align: center;
  margin:15px;
  background:transparent;
}
#productsWrapper #lastJ .btn-simple:hover {
  border:1px solid #05dd43;
  color: #05dd43;
}
/*

                  neoV 980

*/

#neoVWrappers .topJ, #neoVWrappers .middleJ {
  padding-top:15px;
  padding-bottom:15px;
  border-bottom:1px solid #ddd;
}
#neoVWrappers h1 {
  font-family: 'Rubik One', sans-serif;
  font-size: 48px;
}
#neoVWrappers i {
  padding: 8px;
  background: #05dd43;
  color:white;
  font-style: normal;
  opacity: 0.6;
}
#neoVWrappers .table {
  margin-top:48px;
  margin-bottom:48px;
}
/*

                  treatments.html

*/
#treatmentsWrapper .jumbotron {
  color:white;
}
#treatmentsWrapper .jumbotron h2 {
  font-family:'Rubik One',sans-serif;
  text-align: center;
}
#evlaBox {
  background:#111;
}
#evlaBox .img-wrapper {
  background:black;
}
#evlaBox .btn-simple:hover {
  border: 2px solid #05dd43;
  color: #05dd43;
}
#plddBox {
  background:#05dd43;
}
#plddBox .img-wrapper {
  background:white;
}
#plddBox .btn-simple:hover {
  border: 2px solid darkgreen;
  color: darkgreen;
}
#entBox {
  background:#387ef5;
}
#entBox .img-wrapper {
  background:floralwhite;
}
#entBox .btn-simple:hover {
  border: 2px solid #003ea8;
  color: #003ea8;
}
#proctoBox {
  background:#11c1f3;
}
#proctoBox .img-wrapper {
  background:#111;
}
#proctoBox .btn-simple:hover {
  border: 2px solid #009397;
  color: #009397;
}
#treatmentsWrapper .img-wrapper {
  height:250px;
  width:250px;
  border-radius: 50%;
}
#treatmentsWrapper .img-wrapper img {
   max-height:250px;
}
#treatmentsWrapper .btn-simple h4 {
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
}
#treatmentsWrapper .btn-simple {
  border: 2px solid #eee;
}
#treatmentsWrapper a:hover {
  opacity:1.0;
}
#treatmentsWrapper a:focus {
  color:#eee;
}

#neoVsplddBox .btn-simple,
#neoVsentBox .btn-simple,
#neoVsproctoBox .btn-simple {
  border:1px solid #eee;
}
#neoVsplddBox .btn-simple:hover {
  border:1px solid darkgreen;
}
#neoVsentBox .btn-simple:hover {
  border:1px solid #003ea8;
}
#neoVsproctoBox .btn-simple:hover {
  border:1px solid #009397;
}
#neoVsplddBox .btn-simple h4,
#neoVsplddBox .btn-simple:hover h4,
#neoVsentBox .btn-simple h4,
#neoVsentBox .btn-simple:hover h4,
#neoVsproctoBox .btn-simple h4,
#neoVsproctoBox .btn-simple:hover h4 {
  font-weight: lighter;
  font-size:14px;
}
/*
                  global to treatments
*/
.treatmentWrapper .jumbotron {
  padding-top:15px;
  padding-bottom:15px;
}
.treatmentWrapper .topJ, .treatmentWrapper .middleJ {
  padding-top:15px;
  padding-bottom:15px;
  border-bottom:1px solid #ddd;
}
.treatmentWrapper .row {
  margin-left:0;
  margin-right:0;
}
.treatmentWrapper .col-1st h1 {
  font-family: 'Rubik One', sans-serif;
  font-size: 48px;
  margin-bottom:30px;
}
.treatmentWrapper .col-1st i {
  padding: 8px;
  background: #05dd43;
  color:white;
  font-style: normal;
  opacity: 0.6;
}
.treatmentWrapper .col-2nd {
  border-left:1px solid #ddd;
  text-align: center;
  padding-left:75px;
  padding-right:75px;
  margin-bottom:30px;
}
.treatmentWrapper .col-2nd .row {
  margin-top:10px;
  margin-bottom:10px;
}
.treatmentWrapper .col-2nd h4 {
  margin-bottom:48px;
}
.treatmentWrapper .col-2nd p {
  margin-bottom:15px;
}
.treatmentWrapper .col-2nd .img-wrapper {
  background: #33cd5f;
  cursor:pointer;
}
.treatmentWrapper .col-2nd a:hover {
  opacity: 0.95;
}
.inner i {
  background:transparent !important;
  color:#05dd03 !important;
}
/*


                  evla

*/

#kits img {
  outline: 1px solid white;
  outline-offset: -5px;
}

#corona img {
  border:5px solid white;
  -webkit-box-shadow: -1px 1px 1px 1px #ddd;
  -moz-box-shadow: -1px 1px 1px 1px #ddd;
  box-shadow: -1px 1px 1px 1px #ddd;
  padding-bottom:30px;
  background:white;
}


/*

                  footer

*/

footer .jumbotron {
  background:#33cd5f;
  font-family: 'Lato', sans-serif;
  color:white;
  margin-bottom:0;
}
footer .btn-simple {
  border:1px solid white;
}
footer .btn-simple:hover {
  border:1px solid green;
  color: green;
}

/*

                media queries

*/
@media (min-width:769px) {
  .dnone {
    display:none;
  }
}
@media (max-width:768px) {
  .mnone, .breadcrumb {
    display:none;
  }
  .marginJ {
    margin-left:0;
  }
  #main, footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .treatmentWrapper .col-2nd {
    border-left:0;
  }
}
@media (max-width:499px) {
  .treatmentWrapper .col-1st h1 {
    font-size:30px !important;
  }
}
@media (max-width:395px) {
  .treatmentWrapper h3 {
    font-size:16px;
  }
  .treatmentWrapper h3 i {
    float:left !important;
  }
  .vcenter {
    display: inline-block;
    align-items: baseline;
  }
}
